$theme-clr:                                 #E0007A;
$theme-clr_light:                           #FBCDE9;
$black:                                     #000000;
$white:                                     #ffffff;
$theme-grey:                                #f6f6f6;

// header
$topHeader-clr:                               $white;
$midHeader-clr:                               $black;
$midHeader-btn_bg:                            $theme-clr_light;

// product
$product-footer_bg:                           $theme-grey;
$product-btn_bg:                              $theme-clr;
$product-btn_clr:                             $white;
$product-price_clr:                           $theme-clr;