@import './variables';
@import './mixin';

@include font-face(seguibl, '../fonts/seguibl', ttf otf woff woff2);
@include font-face(seguireg, '../fonts/segoeuireg', ttf otf woff woff2);

* {
    margin: 0;
    padding: 0;
}
ul {
    margin-bottom: 0;
    list-style: none;
}
img {
    max-width: 100%;
}
.bmd-form-group {
    width: 1000%;
    max-width: 100%;
}
.bmd-layout-drawer {
    width: 714px !important;
    max-width: 75%;
    z-index: 111 !important;
    position: relative;
    -webkit-transform: translateX(-100%) !important;
    -moz-transform: translateX(-100%) !important;
    -ms-transform: translateX(-100%) !important;
    -o-transform: translateX(-100%) !important;
    transform: translateX(-100%) !important;   
}
.bmd-layout-container {
    z-index: 111;
    @include translateX(-100%);
    @include transition(0.3s);
    &.bmd-drawer-in {
        @include translateX(0);
        @include transition(0.3s);
    }
}
.bmd-drawer-in {
    &.bmd-drawer-f-l>.bmd-layout-drawer {
        -webkit-transform: translateX(0) !important;
        -moz-transform: translateX(0) !important;
        -ms-transform: translateX(0) !important;
        -o-transform: translateX(0) !important;
        transform: translateX(0) !important;
    }
}
.pageTitle {
    font-size: 30px;
    font-weight: 700;
    padding: 10px;
    border-top: 1px solid $black;
    border-bottom: 1px solid $black;
    text-align: center;
    line-height: 1;
    @media screen and (max-width: 991px) {
        font-size: 20px;
    }
}
.flexalign {
    display: flex;
    align-items: center;
    &.flexleft {
        justify-content: flex-end;
    }
}
.rating {
    span {
        color: $theme-clr;
        margin: 0 6px;
        &.checked {
            &::before {
                content: "\2605";
                position: absolute;
            }
        }
    }
}
.reviewForm {
    &__title {
        font-size: 24px;
        font-weight: 600;
        border-bottom: 1px solid $black !important;
        padding: 10px 0;
        margin-bottom: 30px;
        @media screen and (max-width: 991px) {
            font-size: 15px;
        }
    }
    input {
        height: 70px;
    }
    input, textarea {
        margin-bottom: 30px;
        border-radius: 0;
        border: 1px solid $black;
        box-shadow: none !important;
        font-size: 20px;
        font-weight: 300;
        @media screen and (max-width: 991px) {
            font-size: 15px;
        }
    }
    button {
        width: 100%;
        padding: 12px;
        font-size: 30px;
        font-weight: 700;
        margin: 50px 0;
        @media screen and (max-width: 991px) {
            font-size: 20px;
        }
    }
}
.productCoursel {
    margin-top: 30px;
    @media screen and (max-width: 991px) {
        margin-bottom: 12px;
    }
    .item {
        padding: 1px;
    }
}
.productitem {
    border: 1px solid #D2D2D2;
}
.theme-title {
    color: $theme-clr;
    border-top: 1px solid $black;
    border-bottom: 1px solid $black;
    padding: 10px;
    text-align: center;
    display: block;
    font-size: 50px;
    font-weight: 700;
}
.adbanner {
    margin: 30px 0;
    display: block;
}
.archive__header {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 300;
    .sortby {
        select {
            font-size: inherit;
            font-weight: inherit;
            min-width: 219px;
            padding: 7px 15px;
        }
    }
    .helptext {
        font-size: inherit;
        font-weight: inherit;
        @media screen and (max-width: 991px) {
            display: none;
        }
    }
    margin-bottom: 25px;
}
.quantity {
    position: relative;
    width: 114px;
    input {
        padding: 0 20px;
        width: 100%;
        text-align: center; 
    }
    span {
        &.icons {
            position: absolute;
            top: 50%;
            font-size: 21px;
            @include translateY(-50%);
            &.minus {
                right: 8px;
            }
            &.plus {
                left: 8px;
            }
        }
    }
}
.checkout {
    &__info {
        background-color: #F6F6F6;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 14px 18px;
        .price {
            span {
                font-size: 24px;
                color: $black;
                font-weight: 300;
                text-decoration: line-through;
                line-height: 1;
                @media screen and (max-width: 991px) {
                    font-size: 12px;
                }
                &.offer {
                    color: $theme-clr;
                    font-weight: 700;
                    margin-right: 8px;
                    text-decoration: none;
                }
            }
        }
        .items {
            display: flex;
            align-items: center;
            & > span {
                margin-left: 15px;
            }
            .quantity {
                input {
                    font-size: 19px;
                    font-weight: 600;
                    @media screen and (max-width: 991px) {
                        font-size: 12px;
                    }
                }
            }
        }
    }
    &__actions {
        button {
            width: 100%;
            padding: 10px;
            margin: 25px 0;
            font-weight: 700;
            font-size: 34px;
            @media screen and (max-width: 991px) {
                font-size: 20px;
            }
            img {
                width: 38px;
                margin-left: 50px;
            }
        }
    }
}
.customAccrordion {
    .card {
        border-left: 0;
        border-bottom: 0;
        border-right: 0;
        border-top: 1px solid $black;
        border-radius: 0;
        &:last-child {
            border-bottom: 1px solid $black;
        }
    }
    .collapse {
        border-top: 1px solid $black;
        font-size: 20px;
        font-weight: 300;
        @media screen and (max-width: 991px) {
            font-size: 15px;
        }
    }
    .card-header {
        background-color: transparent;    
        border: 0;
        display: flex;
        justify-content: space-between;
        button {
            color: inherit;
            text-decoration: none;
            box-shadow: none;
            font-weight: 700;
            font-size: 20px;
            @media screen and (max-width: 991px) {
                font-size: 15px;
            }
        }
        .accicon {
            .icon {
                font-size: 24px;
                font-weight: 700;
                &.plus {
                    display: none;
                }
                &.minus {
                    display: block;
                }
            }
        }
        .collapsed + .accicon {
            .icon {
                &.plus {
                    display: block;
                }
                &.minus {
                    display: none;
                }
            }
        }
    }
}
.btnlined {
    border: 2px solid $theme-clr;
    background-color: transparent;
    color: $theme-clr;
    @include transition(0.3s);
    &:hover {
        background-color: $theme-clr;
        color: $white;
        @include transition(0.3s);
    }
}
.rating-input {
    & > span {
        margin-left: 25px;
    }
}
.reviewsSection {
    margin: 30px 0;
    .reviewTitle {
        color: $theme-clr;
        font-weight: 700;
        font-size: 30px;
        margin-bottom: 30px;
        @media screen and (max-width: 991px) {
            font-size: 15px;
        }
    }
    .readmore {
        width: 100%;
        font-size: 30px;
        font-weight: 700;
        padding: 12px;
        @media screen and (max-width: 991px) {
            font-size: 20px;
        }
    }
    .reviewbox {
        background-color: #F6F6F6;
        padding: 0 22px;
        margin-bottom: 30px;
        &__header {
            display: flex;
            justify-content: space-between;
            padding: 15px 0;
            border-bottom: 1px solid #D2D2D2;
            color: $theme-clr;
            font-size: 20px;
            font-weight: 600;
            @media screen and (max-width: 991px) {
                font-size: 15px;
            }
        }
        &__content {
            padding: 26px 0;
            font-size: 20px;
            font-weight: 300;
            @media screen and (max-width: 991px) {
                font-size: 15px;
            }
        }
        &__footer {
            display: flex;
            border-top: 1px solid #D2D2D2;
            padding: 15px 0;
            span {
                margin-left: 25px;
                font-size: 20px;
                font-weight: 600;
                @media screen and (max-width: 991px) {
                    font-size: 15px;
                }
            }
        }
    }
}
.owl-carousel {
    direction: ltr;
    &.light {
        .owl-dots {
            background-color: #F6F6F6;
            display: flex;
            justify-content: center;
        }    
    }
    .owl-dots {
        button {
            span {
                background-color: $theme-clr_light !important;
            }
            &.active {
                span {
                    background-color: $theme-clr !important;
                }
            }
        }
    }
}
.completementaryProducts {
    padding: 15px;
    margin: 40px 0 25px 0;
    .title {
        font-size: 20px;
        font-weight: 700;
        padding: 12px;
        border-top: 1px solid $black;
        border-bottom: 1px solid $black;
        @media screen and (max-width: 991px) {
            text-align: center;
        }
    }
    .productsGroup {
        padding: 15px;
        display: flex;
        flex-wrap: wrap;
        &__item {
            width: 50%;
            padding: 15px;
            .productFigure {
                margin-bottom: 0;
            }
        }
    }
}
.breadcrumbs {
    text-align: right;
    padding: 40px 0 30px;
    color: $black;
    @media screen and (max-width: 991px) {
        padding-top: 0;
        padding-bottom: 8px;
        text-align: center;
    }
    &__item {
        display: inline-block;
        &:nth-last-child(n+2) {
            a {
                &::after {
                    content: '';
                    position: absolute;
                    width: 1px;
                    height: 18px;
                    left: -3px;
                    background-color: $black;
                    top: 3px;
                    @include rotate(145deg)
                }
            }
        }
        a {
            padding: 0 12px;
            line-height: 1;
            color: inherit;
            position: relative;
        }
    }
}
a {
    text-decoration: none !important;
}
.bg-theme-light {
    background-color: $theme-clr_light;
    .owl-carousel {
        .owl-dots {
            button {
                span {
                    background-color: $white !important;
                }
                &.active {
                    span {
                        background-color: $theme-clr !important;
                    }
                }
            }
        }
    }
}
.theme-btn {
    border: 2px solid $theme-clr;
    background-color: transparent;
    font-size: 30px;
    font-weight: 700;
    color: $theme-clr;
    padding: 10px;
    width: 100%;
    margin: 30px 0;
    @media screen and (max-width: 991px) {
        font-size: 24px;
        padding: 5px;
    }
}
.magazineSectoin {
    margin: 30px 0 20px;
    @media screen and (min-width: 992px) {
        padding: 38px;
        background-color: #f5c0e3;
    }
    .row {
        align-items: center;
    }
    aside {
        text-align: right;
        @media screen and (max-width: 991px) {
            text-align: center;
            background-color: #f5c0e3;
            padding: 15px;
            margin-bottom: 20px;
            .title, .subtitle {
                font-size: 30px;
            }
        }
        .title, .subtitle {
            display: inline-block;
            font-weight: 800;
            margin-bottom: 0;
            @media screen and (min-width: 992px) {
                font-size: 50px;
            }
        }
        .title {
            color: #E0007A;
        }
        .subtitle {
            color: $black;
        }
    }
    .magazinesArticle {
        display: flex;
        justify-content: space-between;
        overflow-x: auto;
        .magazinesArticle__item {
            width: 90px;
            margin: 0 20px;
            &__img {
                width: 90px;
                height: 90px;
                border-radius: 100%;
                border: 3px solid #E0007A;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #ffffff;
                margin-bottom: 15px;
                @media screen and (max-width: 991px) {
                    width: 90px;
                    height: 90px;
                    img {
                        width: 30px;
                    }
                }
                img {
                    width: 45px;
                }
            }
            &__desc {
                line-height: 1;
                font-size: 18px;
                font-weight: 700;
                color: $black;
                text-align: center;
                @media screen and (max-width: 991px) {
                    font-size: 12px;
                }
            }
        }
    }
}
.blogpageSection {
    text-align: right;
    padding-bottom: 60px;
    &__details {
        padding: 10px 0;
        border-top: 1px solid #707070;
        border-bottom: 1px solid #707070;
        color: #707070;
        display: flex;
        justify-content: space-between;
        font-size: 24px;
        font-weight: 300;
        margin-bottom: 40px;
        @media screen and (max-width: 991px) {
            font-size: 20px;
        }
    }
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding: 15px 0;
        @media screen and (max-width: 991px) {
            flex-direction: column-reverse;
            text-align: center;
            a, .title {
                width: 100%;
            }
        }
        .title {
            font-size: 40px;
            font-weight: 700;
            line-height: 1;
            @media screen and (max-width: 991px) {
                font-size: 28px;
            }
        }
        a {
            font-size: 20px;
            font-weight: 300;
            text-decoration: none;
            color: inherit;
            @media screen and (max-width: 991px) {
                font-size: 15px;
            }
        }
    }
    &__content {
        font-size: 20px;
        font-weight: 300;
        p {
            margin-bottom: 30px;
        }
        img {
            width: 100%;
            margin-bottom: 30px;
        }
        .images {
            display: flex;
            flex-wrap: wrap;
            img {
                max-width: 48%;
                margin: 1%;
            }
        }
    }
}
.theme-btn-dark {
    background-color: $theme-clr;
    color: $white;
    border: 0;
    outline: none !important;
    border: 2px solid $theme-clr;
    @include transition(0.3s);
    &:hover {
        background-color: $white;
        color: $theme-clr;
        @include transition(0.3s);
    }
}

.accard {
    border: 0;
    background-color: #F6F6F6;
    .card-header {
        padding: 0;
        border: 0;
    }
}

.filterOptions {
    .options {
        margin-bottom: 10px;
    }
}

details {
    margin-top: 0 !important;
    @media screen and (max-width: 991px) {
        margin-bottom: 15px;
        position: relative;
        .content {
            position: absolute;
            top: 100%;
            width: 100%;
            z-index: 11;
        }
    }
    .btn-link {
        width: 100%;
        text-align: right;
        padding: 15px;
        outline: none !important;
        box-shadow: none !important;
        text-decoration: none !important;
        background-color: #E5E5E5;
        border: 0;
        color: $black !important;
        font-size: 20px;
        font-weight: 700;
        display: flex;
        justify-content: space-between;
        span {
            font-weight: 800;
            color: $theme-clr;
        }
        .plus {
            display: none;
        }
        .minus {
            display: block;
        }
        &.collapsed {
            .plus {
                display: block;
            }
            .minus {
                display: none;
            }   
        }
    }
      summary {
          background: $theme-clr;
          color: $white;
          outline: none;
          &::-webkit-details-marker {
              display:none;
            }
            .summaryheader {
                justify-content: space-between;
                padding: 20px;
                font-size: 20px;
                line-height: 1;
                @media screen and (max-width: 991px) {
                    padding: 14px;
                }
                label {
                    font-weight: 700;
                    margin: 0;
                }
                span {
                    font-weight: 400;
                    @media screen and (max-width: 991px) {
                        display: none;
                    }
                }
            }
        }
    max-width: 500px;
    box-sizing: border-box;
    margin-top: 5px;
    .content {
      text-align: right;
      font-size: 20px;
        font-weight: 300;
    }
  }

body {
    direction: rtl;
    font-family: 'Heebo', sans-serif !important;
    font-weight: 400;
    header {
        position: fixed;
        width: 100%;
        left: 0;
        top: 0;
        background-color: #fff;
        z-index: 111;
        &.scrolled {
            @media screen and (max-width: 991px) {
                .midHeader .autocomplete-wrapper {
                    padding: 20px 0 0;
                }
            }
            .topHeader {
                padding: 0;
                height: 0;
                overflow: hidden;
                @include transition(0.3s);
            }
            .midHeader {
                padding: 10px 0;
                @include transition(0.3s);
                .logoimg {
                    width: 140px;
                    @include transition(0.3s);
                }
            }
        }
        .topHeader {
            background-color: $theme-clr;
            padding: 8px 0;
            color: $topHeader-clr;
            @include transition(0.3s);
            img {
                margin-left: 8px;
            }
            button {
                background: transparent;
                border: 0;
                outline: none;
                color: $white;
                font-size: 24px;
            }
            .child-inline {
                margin: 0 -8px;
                @media screen and (max-width:991px) {
                    margin: 0;
                    display: inline-flex;
                    align-items: center;
                    li {
                        // padding: 0 !important;
                        .sz-navbar-hamburger {
                            position: relative !important;
                            font-size: 24px;
                            margin-bottom: 0;
                            @include translateY(0);
                            margin-left: 5px;
                        }
                    }
                }
                li {
                    display: inline-block;
                    padding: 0 8px;
                    img {
                        width: 18px;
                        @media screen and (max-width: 991px) {
                            width: 28px;
                        }
                    }
                }
            }
            a {
                color: inherit;
                font-size: 16px;
                // display: inline-flex;
                line-height: 1;
                align-items: center;
            }
        }
        .midHeader {
            padding: 40px 0;
            color: $midHeader-clr;
            @include transition(0.3s);
            .logoimg {
                @include transition(0.3s);
            }
            .category-wrapper {
                display: flex;
                overflow-x: auto;
                margin-top: 40px;
                figure {
                    width: 60px;
                    margin: 0 6px;
                    .imgparent {
                        width: 60px;
                        height: 60px;
                        border-radius: 100%;
                        border: 2px solid $theme-clr;
                        overflow: hidden;
                        img {
                            width: 100%;
                        }
                    }
                    text-align: center;
                }
            }
            @media screen and (max-width: 991px) {
                .logoimg {
                    display: block;
                    margin: 0 auto;
                    width: 40%;
                }
            }
            a {
                color: inherit;
            }
            .autocomplete-wrapper {
                position: relative;
                @media screen and (min-width: 992px) {
                    top: 50%;
                    @include translateY(-48%);
                }
                @media screen and (max-width:991px) {
                    padding: 60px 0 0;
                    margin: 0 15px;
                    .searchicon {
                        bottom: 10px;
                        @include translateY(0);
                    }
                }
                .searchicon {
                    position: absolute;
                    left: 10px;
                    @media screen and (min-width: 992px) {
                        top: 50%;
                        @include translateY(-50%);
                    }
                    i {
                        font-size: 20px;
                    }
                }
                .autocomplete-input {
                    width: 100%;
                    padding: 8px 8px 8px 50px;
                    line-height: 1;
                    font-size: 20px;
                    font-weight: 300;
                    outline: none;
                }
            }
            .cartbutton {
                background-color: rgba($color: $midHeader-btn_bg, $alpha: 1);
                font-weight: 500;
                border: 0;
                padding: 12px;
                line-height: 1;
                display: inline-flex;
                align-items: center;
                position: relative;
                top: 50%;
                @include translateY(-48%);
                i {
                    color: $theme-clr;
                    font-size: 30px;
                    margin-right: 15px;
                }
            }
        }
    }
    main {
        padding-top: 278px;
        @media screen and (max-width: 991px) {
            padding-top: 442px;
        }
        .scrolltop {
            position: fixed;
            bottom: 20px;
            left: 20px;
            z-index: 11;
            width: 50px;
            height: 50px;
            border-radius: 100%;
            background-color: $theme-clr;
            color: #fff;
            text-align: center;
            line-height: 50px;
            @include scale(0);
            @include transition(0.3s);
            cursor: pointer;
            i {
                font-size: 30px;
                line-height: 1.5;
            }
        }
        section {
            &.bannerSection {
                .bannervideo {
                    margin-top: 15px;
                }
            }
            &.asideSection {
                margin: 20px 0;
                .title {
                    font-size: 30px;
                }
                @media screen and (max-width: 991px) {
                    margin: 10px 0;
                }
            }
            .owl-carousel {
                .item {
                    direction: rtl;
                }
            }
            .centernav {
                position: relative;
                padding: 15px 70px;
                @media screen and (max-width:991px) {
                    padding: 15px 0px;
                }
                &.nopadd {
                    padding: 15px 0;
                    .owl-nav {
                        button {
                            background-color: #ffffff !important;
                            width: 35px;
                            span {
                                line-height: 1;
                            }
                        }
                    }
                }
                .owl-nav {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    top: 0;
                    left: 0;
                    justify-content: space-between;
                    button {
                        background-color: transparent !important;
                        outline: none !important;
                        span {
                            font-size: 50px;
                            font-weight: 100;
                            color: #707070 !important;
                        }
                    }
                }
            }
            .productFigure {
                box-shadow: 1px 1px 2px 0 #cccccc;
                background-color: $white;
                figcaption {
                    text-align: center;
                    color: $black;
                    font-size: 13px;
                    font-weight: 300;
                    margin-top: 15px;
                    .productCaption {
                        font-size: 16px;
                        font-weight: 700;
                    }
                    p {
                        font-size: 13px;
                    }
                    .productActions {
                        background-color: $product-footer_bg;
                        height: 35px;
                        line-height: 35px;
                        display: flex;
                        justify-content: space-between;
                        margin-top: 15px;
                        button {
                            border: 0;
                            width: 33px;
                            height: 35px;
                            color: $product-btn_clr;
                            background-color: $product-btn_bg;
                            line-height: 1;
                            i {
                                font-size: 18px;
                            }
                        }
                        &__info {
                            display: flex;
                            justify-content: space-between;
                            padding: 0 16px 0 11px;
                            height: 35px;
                            flex: 1;
                            span {
                                font-size: 10px;
                                font-weight: 400;
                                line-height: 35px;
                                &.price {
                                    color: $product-price_clr;
                                    font-weight: 700;
                                    font-size: 13px;
                                }
                            }
                        }
                    }
                }
            }
            &.adSection {
                .withCaption {
                    margin: 10px 0;
                    .title {
                        color: rgba($color: $black, $alpha: 0.14);
                        font-size: 70px;
                        font-weight: 700;
                        @media screen and (max-width: 991px) {
                            font-size: 20px;
                        }
                    }
                }
                .adsGroup {
                    ul {
                        display: flex;
                        flex-wrap: wrap;
                        margin: 0 -8px;
                        li {
                            max-width: 50%;
                            min-width: 50%;
                            padding: 10px 8px;
                            &:last-child {
                                max-width: 100%;
                                min-width: 100%;
                            }
                            a {
                                display: block;
                                width: 100%;
                                img {
                                    width: inherit;
                                }
                            }
                        }
                    }
                }
            }
            &.bestSellers {
                padding: 20px 0;
                margin: 10px 0 20px 0;
                float: left;
                width: 100%;
            }
            &.instaSection {
                padding: 20px 0;
                .instaHeading {
                    @extend .pageTitle;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 20px;
                    button {
                        font-weight: 700;
                        font-size: 24px;
                        display: flex;
                        align-items: center;
                        padding: 15px;
                        i {
                            font-size: 31px;
                            margin-left: 15px;
                        }
                    }
                }
            }
            &.singleBanner {
                padding: 15px 0 20px 0;
                .pageTitle {
                    margin-bottom: 20px;
                }
                .title {
                    font-family: "seguireg";
                    font-size: 50px;
                }
            }
            &.productarticle {
                @media screen and (max-width: 991px) {
                    .productarticle__title {
                        text-align: center !important;
                        font-size: 20px !important;
                        margin: 0 10%;
                        padding: 0 !important;
                    }    
                    .namecompany {
                        font-size: 12px;
                        font-weight: 300;
                        margin: 8px 0;
                        display: block;
                        text-align: center;
                    }
                }
                .productarticle__title {
                    font-size: 30px;
                    font-weight: 700;
                    color: $black;
                    padding-left: 40%;
                    text-align: right;
                }
                .heading {
                    padding: 10px 0;
                    justify-content: space-between;
                    border-top: 1px solid $black;
                    border-bottom: 1px solid $black;
                    margin: 20px 0 30px;
                    font-size: 16px;
                    font-weight: 300;
                }
                font-weight: 300;
                font-size: 20px;
                text-align: right;
                @media screen and (max-width: 991px) {
                    font-size: 12px;
                    font-weight: 300;
                }
            }
        }
    }
    .newsletterSection {
        padding: 25px 0;
        .title {
            font-size: 24px;
            font-weight: 700;
            text-align: center;
        }
        .newsletterForm {
            margin-top: 20px;
            button {
                min-width: 220px;
                font-size: 20px;
                font-weight: 700;
                border-radius: 0 !important;
                height: 60px;
            }
            input {
                border-radius: 0 !important;
                border: 0;
                outline: none !important;
                box-shadow: none !important;
                height: 60px;
                font-size: 20px;
                font-weight: 300;
            }
        }
    }
    footer {
        padding: 28px 0 55px 0;
        .newsletterSection {
            margin: 20px -15px;
        }
        @media screen and (max-width: 991px) {
            padding: 28px 0 0 0;
        }
        .alter {
            @media screen and (max-width: 991px) {
                flex-direction: column-reverse;
            }
        }
        .menutitle {
            font-size: 20px;
            font-weight: 700;
            margin-bottom: 28px;
            text-align: right;
        }
        .withCaption {
            .title {
                font-size: 30px;
                font-family: "seguireg";
                color: #707070;
            }
        }
        ul {
            li {
                margin-bottom: 28px;
                text-align: right;
                a {
                    font-size: 20px;
                    font-weight: 300;
                    color: $black;
                    &:hover, i {
                        color: $theme-clr;
                    }
                    i {
                        font-size: 15px;
                    }
                }
                .social-icons {
                    display: flex;
                    a {
                        font-size: 21px;
                        i {
                            font-size: inherit;
                            color: $black;
                            @include transition(0.3s);
                        }
                        &:hover {
                            i {
                                @include scale(1.2);
                                @include transition(0.3s);
                            }
                        }
                    }
                }
            }
            &.withicon {
                li {
                    a {
                        display: flex;
                        align-items: center;
                        font-weight: 400;
                        i {
                            margin-left: 26px;
                        }
                        span {
                            font-weight: 700;
                            margin-right: 8px;
                        }
                    }
                }
                @media screen and (max-width: 991px) {
                    li {
                        border-bottom: 1px solid #cccccc;
                        margin: 0;
                        padding: 14px 0;
                    }
                }
            }
        }
    }
}

.ui-autocomplete {
    max-height: 600px;
    width: 320px;
    overflow-y: auto;
    overflow-x: hidden;
    border: 1px solid rgba($color: $black, $alpha: 1);
    border-top: 0;
    background-color: $white;
}
* html .ui-autocomplete {
    height: 600px;
}
.ui-menu-item {
    padding: 10px;
    &:nth-last-child(n+2) {
        border-bottom: 1px solid rgba($color: $black, $alpha: 0.09);
    }
    .ui-menu-item-wrapper {
        align-items: center;
    }
    .product-img {
        width: 30px;
        border-radius: 100%;
        overflow: hidden;
        img {
            width: 100%;
        }
    }
    .product-desc {
        word-break: break-all;
        padding: 0 10px;
    }
    .product-price {
        margin-right: auto;
        label {
            margin-bottom: 0;
            &.strike {
                color: #cccccc;
                text-decoration: line-through;
                margin-right: 5px;
            }
        }
    }
}
#project-description {
    margin: 0;
    padding: 0;
  }
  .ui-helper-hidden-accessible {
      display: none;
  }
.sz-navbar{
    height: 0;
    @media screen and (min-width:992px) {
        height: 48px; /* overriding default 64px height */
        border-top: 1px solid $black;
        border-bottom: 1px solid $black;
    }
    .sz-navbar-items {
        a {
            color: $black;
            text-decoration: none;
            font-size: 20px;
            font-weight: 400;
        }        
    }
}

figure {
    & > img {
        width: 100%;
    }
    &.withCaption {
        position: relative;
        @media screen and (max-width: 991px) {
            margin-bottom: 10px;
        }
        &.heavy {
            .title {
                @media screen and (min-width: 992px) {
                    font-size: 50px;
                    font-family: "seguibl";
                }
            }
        }
        figcaption {
            position: absolute;
            text-align: center;
            width: 100%;
            padding: 20px 20%;
            top: 50%;
            left: 0;
            color: #707070;
            @include translateY(-50%);
        }
    }
}

.checkoutitems {
    &__header {
        margin: 10px;
        padding: 10px 0;
        border-bottom: 1px solid $black;
        border-top: 1px solid $black;
        display: flex;
        justify-content: space-between;
        button {
            background-color: transparent;
            border: 0;
            outline: none;
        }
        span {
            font-weight: 700;
            font-size: 30px;
        }
    }
    &__content {
        padding: 10px;
        &__item {
            padding-bottom: 17px;
            &:nth-last-child(n+2) {
                margin-bottom: 17px;
                border-bottom: 1px solid #cccccc;
            }
            &__content {
                display: flex;
                align-items: center;
                position: relative;
                padding-left: 80px;
                .remove {
                    position: absolute;
                    left: 10px;
                    top: 10px;
                    font-size: 20px;
                    font-weight: 300;
                }
                .checkoutProduct__img {
                    width: 150px;
                    height: 150px;
                    border: 1px solid #cccccc;
                    margin-left: 20px;
                    img {
                        width: 100%;
                    }
                }
                .checkoutProduct__content {
                    font-size: 20px;
                    .title {
                        font-weight: 700;
                        font-size: inherit;
                    }
                    font-weight: 300;
                }
            }
            &__footer {
                background-color: #F6F6F6;
                padding: 10px;
                margin-top: 17px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .items {
                    display: flex;
                    .quantity {
                        margin-right: 15px;
                    }
                }
                .price {
                    color: $theme-clr;
                    font-weight: 700;
                    font-size: 23px;
                }
            }
        }
    }
    &__footer {
        background-color: #F6F6F6;
        padding: 10px;
        ul {
            margin: 0;
            &:nth-last-child(n+3) {
                border-bottom: 1px solid #cccccc;
            }
            li {
                list-style: none;
                padding: 8px 0;
                display: flex;
                justify-content: space-between;
                span {
                    font-size: 20px;
                    font-weight: 300;
                    color: #707070;
                    &.b {
                        font-weight: 700;
                        font-size: 24px;
                        color: $black;
                    }
                }
            }
        }
        button {
            width: 100%;
            padding: 10px;
            font-weight: 700;
            font-size: 34px;
        }
    }
}

@media screen and (min-width: 1430px) {
    .container {
        max-width: 1400px !important;
    }
}
@media screen and (min-width: 992px) {
    .socialIcon-wrapper {
        .rights {
            display: none;
        }
    }
    .showMobile {
        display: none !important;
    }
}
@media screen and (max-width: 991px) {
    .hideMobile {
        display: none !important;
    }
    .bottomHeader {
        position: relative;
        z-index: 11;
    }
    .container {
        max-width: 100%;
    }
    .socialIcon-wrapper {
        display: flex;
        justify-content: space-between;
        .rights {
            font-size: 12px;
        }
    }
    .menulist {
        padding: 20px 0;
        margin-bottom: 10px;
        border-top: 1px solid $black;
        border-bottom: 1px solid $black;
        li {
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .menuwithicon {
        .menutitle {
            border-top: 1px solid $black;
            border-bottom: 1px solid $black;
            padding: 15px 0;
            text-align: center;
        }
    }
}

.link-btn {
    background-color: transparent;
    border: none;
    outline: none;
    text-decoration: underline;
}
.theme-input {
    input, select {
        width: 100%;
        height: 50px;
        border: 1px solid $black;
        color: $black;
        font-weight: 400;
        font-size: 20px;
        padding: 10px;
        outline: none;
        @media screen and (max-width:991px) {
            height: 40px;
            font-size: 15px;
        }
    }
}
.checkbox-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    input {
        position: absolute;
        z-index: 1;
        width: 14px;
        height: 14px;
        top: 3px;
        opacity: 0;
        &:checked {
            & + span {
                &::before {
                    content: '';
                    width: 8px;
                    height: 16px;
                    position: absolute;
                    border-bottom: 3px solid #E0007A;
                    border-right: 3px solid #E0007A;
                    transform: rotate(45deg);
                    top: -5px;
                }
            }
        }
    }
    span {
        position: relative;
        width: 14px;
        height: 14px;
        border: 1px solid $black;
        display: inline-block;
        margin-left: 10px;
    }
    label {
        margin: 0;
        font-size: 18px;
        font-weight: 400;
        color: $black;
        @media screen and (max-width:991px) {
            font-size: 15px;
        }
    }
}
.blogs-wrapper {
    padding: 30px 0 50px;
}
.single-blog {
    text-align: right;
    margin-bottom: 65px;
    @media screen and (max-width: 991px) {
        margin-bottom: 30px;       
    }
    &__title {
        font-size: 30px;
        font-weight: 700;
        color: $black;
        line-height: 1;
        margin: 15px 0;
        @media screen and (max-width: 991px) {
            font-size: 24px;   
        }
    }
    &__details {
        padding: 10px 0;
        border-top: 1px solid #707070;
        border-bottom: 1px solid #707070;
        color: #707070;
        display: flex;
        justify-content: space-between;
        font-size: 20px;
        font-weight: 300;
    }
    &__desc {
        padding: 15px 0;
        font-size: 18px;
        font-weight: 300;
    }
}
.loginmodal {
    &__dialog {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        min-height: 100vh;
        overflow-y: auto;
    }
    &__content {
        border-radius: 0;
        padding: 40px;
        max-height: 80vh;
        overflow-y: auto;
        @media screen and (max-width:991px) {
            padding: 29px 17px;
        }
        .login-box {
            display: flex;
            flex-wrap: wrap;
            @media screen and (max-width:991px) {
                flex-direction: column;
            }
            .login-left {
                padding-right: 30px;
                @media screen and (max-width:991px) {
                    padding-right: 0;
                    padding-top: 30px;
                }
            }
            .login-right {
                padding-left: 50px;
                border-left: 1px solid #666666;
                @media screen and (max-width:991px) {
                    border-bottom: 1px solid #666666;
                    border-left: 0;
                    padding-left: 0;
                    padding-bottom: 15px;
                }
            }
            .login-left,
            .login-right {
                flex: 1;
                text-align: right;
                .login-title {
                    line-height: 1;
                    font-size: 30px;
                    font-weight: 700;
                    margin-bottom: 20px;
                    @media screen and (max-width:991px) {
                        font-size: 20px;
                        margin-bottom: 10px;
                    }
                }
                .form-fields {
                    @media screen and (max-width:991px) {
                        margin-bottom: 20px;
                    }
                    @media screen and (min-width:992px) {
                        height: 221px;
                    }
                    .login-input {
                        margin-bottom: 25px;
                        @media screen and (max-width:991px) {
                            margin-bottom: 10px;
                        }
                    }
                }
                button {
                    display: block;
                    width: 100%;
                    font-size: 24px;
                    font-weight: 500;
                    padding: 12px;
                    @media screen and (max-width:991px) {
                        font-size: 20px;
                        padding: 6px;
                    }
                }
                .link-btn {
                    text-align: right;
                    font-size: 18px;
                }
            }
        }
    }
}

@media (max-width: 600px){
    .sz-navbar-items{
        width: 300px; /* limit width of mobile menu */
    }
}
.productSection__carousel {
    .owl-dots {
        background-color: #F6F6F6;
        margin-top: 0;
        padding-top: 10px;
    }
}


// cart pages
.dark-btn {
    background-color: #111111;
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    border-radius: 0;
    outline: none;
    border: 0;
}
.woocommerce-account {
    .breadcrumbs {
        &__item {
            font-size: 24px;
            a {
                &::after {
                    height: 25px !important;
                    -webkit-transform: rotate(0deg);
                    -moz-transform: rotate(0deg);
                    -ms-transform: rotate(0deg);
                    -o-transform: rotate(0deg);
                    transform: rotate(0deg);
                }
            }
            &.prod_name {
                color: #E0007A;
                font-weight: 700;
                font-size: 24px;
            }
        }
    }
    .woocommerce {
        a {
            color: #E0007A;
            &:hover {
                color: #c3086e;
            }
        }
        .woocommerce-customer-details {
            background-color: #f6f6f6;
            padding: 19px 18px;
            .woocommerce-columns {
                display: flex;
                .woocommerce-column {
                    flex: 1;
                    width: 50%;
                }
                @media screen and (max-width: 480px) {
                    flex-direction: column;
                }
                .woocommerce-column {
                    width: 100%;
                    max-width: 100%;
                    text-align: right;
                    &__title {
                        font-weight: 700;
                        font-size: 24px;
                    }
                    &:nth-last-child(n+2) {
                        margin-bottom: 30px;
                    }
                    address {
                        border: 0;
                        font-weight: 300;
                        font-size: 20px;
                    }
                }
            }
        }
        .woocommerce-button, .woocommerce-Button {
            background-color: #E0007A;
            color: #ffffff !important;
            border-radius: 0;
            padding: 6px 20px;
            &:hover {
                background-color: #c3086e;
            }
        }
        .woocommerce-Input {
            border: 1px solid #000000;   
            padding: 10px;
            background-color: transparent !important;
        }
        .woocommerce-form-login {
            background-color: #f6f6f6;
            margin: 0 auto;
            max-width: 600px;
            .woocommerce-form-row, .form-row {
                flex-direction: column;
            }
        }
        margin-bottom: 30px;
        .woocommerce-MyAccount-navigation {
            background-color: #f6f6f6;
            padding: 10px;
            margin-bottom: 30px;
            li {
                a {
                    display: block;
                    padding: 5px;
                    color: #e0007a;
                    font-weight: 600;
                }
                &:nth-last-child(n+2) {
                    border-bottom: 1px solid #ececec;
                }
                &:hover {
                    a {
                        background-color: #E0007A;
                        color: #ffffff;
                    }
                }
            }
        }
        .woocommerce-MyAccount-content {
            font-size: 20px;
            font-weight: 300;
            text-align: right;
            a {
                color: #E0007A;
                font-weight: 600;
            }
            .woocommerce-EditAccountForm {
                label {
                    line-height: 1;
                    text-align: right;
                }
                input {
                    padding: 10px;
                }
                .woocommerce-form-row {
                    flex-direction: column;
                }
                .woocommerce-password-strength {
                    background-color: #e0007a;
                    color: #ffffff;
                }
                .woocommerce-password-strength, .woocommerce-password-hint {
                    text-align: right;
                }
            }
            .woocommerce-orders-table {
                font-weight: 500;
                font-size: 18px;
                .woocommerce-Price-amount.amount {
                    font-size: inherit !important;
                    font-weight: inherit;
                }
            }
            .woocommerce-Addresses {
                background-color: #f6f6f6;
                padding: 19px 18px;
                display: flex;
                justify-content: space-between;
                text-align: right;
                &::before, &::after {
                    display: none;
                }
                .woocommerce-Address {
                    flex: 1;
                    width: 100%;
                    max-width: 100%;
                }
                @media screen and (max-width: 991px) {
                    flex-direction: column;
                }
            }
            .woocommerce-Message {
                display: flex;
                justify-content: space-between;
                flex-direction: row-reverse;
                &::before, &::after {
                    display: none;
                }
            }
        }
    }
}
.woocommerce-cart, .woocommerce-checkout {
    .woocommerce {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 40px;
        margin-top: 40px;
        @media screen and (max-width: 991px) {
            flex-direction: column;
            .woocommerce-cart-form, .cart-collaterals {
                width: 100%;
            }
        }
        .woocommerce-order {
            display: flex;
            flex-wrap: wrap;
            @media screen and (max-width: 991px) {
                flex-direction: column;
                .woocommerce-order-details {
                    width: 100%;
                }
                .woocommerce-customer-details {
                    width: 100%;
                    padding: 0;
                }
            }
            @media screen and (min-width: 992px) {
                .woocommerce-order-details, .woocommerce-customer-details {
                    width: 50%;
                }
            }
            .woocommerce-notice, .woocommerce-order-overview, & > p {
                width: 100%;
            }
            .woocommerce-order-overview {
                display: flex;
                justify-content: space-between;
                margin-bottom: 30px;
            }
            & > p {
                text-align: right;
                font-weight: 300;
                font-size: 20px;
            }
            .woocommerce-order-details {
                text-align: right;
                &__title {
                    font-size: 24px;
                    font-weight: 700;
                }
                .woocommerce-table {
                    .product-total {
                        text-align: left;
                    }
                    tfoot {
                        td {
                            text-align: left;
                        }
                    }
                }
            }
            .woocommerce-customer-details {
                @media screen and (min-width: 992px) {
                    padding-right: 100px;
                }
                .woocommerce-columns {
                    display: flex;
                    flex-direction: column;
                    @media screen and (max-width: 991px) {
                        flex-direction: row;
                        .woocommerce-column {
                            flex: 1;
                            width: 50%;
                        }
                    }
                    .woocommerce-column {
                        width: 100%;
                        max-width: 100%;
                        text-align: right;
                        &__title {
                            font-weight: 700;
                            font-size: 24px;
                        }
                        &:nth-last-child(n+2) {
                            margin-bottom: 30px;
                        }
                        address {
                            border: 0;
                            font-weight: 300;
                            font-size: 20px;
                        }
                    }
                }
            }
        }
        .woocommerce-notice {
            &.woocommerce-notice--success {
                text-align: right;
                padding: 10px;
                background-color: rgba($color: green, $alpha: 0.09);
                color: green;
            }
        }
        .woocommerce-shipping-fields {
            text-align: right;
            .woocommerce-form__label {
                font-size: 16px;
                font-weight: 500;
            }
        }
        .woocommerce-checkout {
            display: flex;
            @media screen and (max-width: 1199px) {
                flex-direction: column;
                .customer_details_form {
                    margin-bottom: 40px;
                }
                .order-review-wrapper {
                    margin: 0 15px;
                }
            }
            .customer_details_form {
                display: flex;
                flex-direction: column;
                .form-row {
                    width: 100%;
                    label, span {
                        width: 100%;
                        font-size: 20px;
                        font-weight: 300;
                        text-align: right;
                        input, select, .select2 {
                            border: 1px solid #000000;
                            padding: 10px;
                            .select2-selection {
                                border: 0;
                            }
                        }
                    }
                    label {
                        margin-bottom: 0;
                        position: relative !important;
                        height: 40px;
                        &.screen-reader-text {
                            visibility: hidden;
                            span {
                                visibility: hidden;
                            }
                        }
                    }
                    &.billing_first_name, &.billing_last_name, &.billing_address_1, &.billing_address_2 {
                        width: 50%;
                    }
                }
                .woocommerce-billing-fields {
                    text-align: right;
                    & > h3 {
                        color: #E0007A;
                        font-size: 24px;
                        font-weight: 700;
                    }
                    .woocommerce-billing-fields__field-wrapper {
                        .customform-row {
                            display: flex;
                            flex-wrap: wrap;
                        }
                    }
                }
            }
        }
        .woocommerce-checkout-payment {
            background: transparent !important;
            a {
                color: #E0007A;
            }
            .payment_methods {
                padding: 0 !important;
                .woocommerce-notice {
                    color: #E0007A;
                    border: 0;
                    background-color: transparent;
                    &::before {
                        color: inherit;
                    }
                }
            }
            .place-order {
                text-align: right;
                padding-left: 0 !important;
                padding-right: 0 !important;
                button {
                    background-color: #E0007A;
                    color: #fff;
                    font-size: 24px;
                    font-weight: 700;
                    width: 100%;
                    padding: 10px;
                    border: 0;
                }
            }
        }
        .woocommerce-form-coupon-toggle {
            width: 100%;
            .woocommerce-info {
                background-color: #E0007A;
                color: #ffffff;
                margin-top: 20px;
                border: 0;
                &::before {
                    color: #ffffff;
                }
                a {
                    color: inherit;
                }
            }
        }
        .woocommerce-notices-wrapper {
            width: 100%;
        }
        @media screen and (min-width: 992px) {
            .woocommerce-cart-form {
                width: 65%;
            }
            .cart-collaterals {
                width: 35%;
            }
        }
        .woocommerce-cart-form {
            padding-left: 30px;
            overflow-x: auto;
        }
        .cart-collaterals, .order-review-wrapper, .woocommerce-customer-details .woocommerce-columns {
            background-color: #F6F6F6;
            padding: 19px 18px;
            #order_review_heading {
                text-align: right;
                color: #E0007A;
                font-size: 24px;
                font-weight: 700;
            }
            .checkout_coupon {
                padding: 0;
                border: 0;
                margin: 15px 0 !important;
                .coupon {
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    label {
                        width: 100%;
                    }
                    input {
                        flex: 1;
                        padding: 10px;
                        background-color: #ffffff;
                        border: 0;
                    }
                    button, input[type="submit"] {
                        @extend .dark-btn;
                        flex: initial;
                        padding: 0 20px;
                    }
                }
            }
            .cross-sells {
                display: none;
            }
            .cart_totals  {
                width: 100%;
                text-align: right;
                & > h2 {
                    color: #E0007A;
                    font-size: 24px;
                    font-weight: 700;
                }
            }
        }
        table.shop_table {
            border: 0;
            &.shop_table_responsive {
                @media screen and (max-width: 991px) {
                    .product-price, .product-subtotal {
                        display: none;
                    }
                    .woocommerce-cart-form__cart-item {
                        .product-price, .product-subtotal {
                            display: none;
                        }   
                    }
                }
            }
            .woocommerce-cart-form__cart-item {
                .product-thumbnail {
                    a {
                        img {
                            min-width: 80px;
                            max-width: 80px;
                            border: 1px solid #D2D2D2;
                        }
                    }
                }
            }
            th, td {
                font-size: 20px;
                font-weight: 700;
                color: #000000;
                span {
                    font-size: inherit !important;
                }
                &.product-name {
                    font-weight: 300;
                }
                &.actions {
                    padding: 10px 0;
                    button {
                        @extend .dark-btn;
                    }
                    & > button[type="submit"] {
                        margin-top: 15px;
                        float: right;
                    }
                }
            }
            a {
                color: inherit;
            }
        }
        .checkout-button {
            background-color: #e0007a !important;
            font-size: 24px !important;
            font-weight: 700;
            padding: 12px !important;
        }
    }
}

.bottombanner {
    background-color: $black;
    height: 245px;
    display: flex;
    align-items: center;
    .bannervideo {
        z-index: 1;
    }
}


.informationSection {
    background-color: rgba($color: #E0007A, $alpha: 0.18);
    padding: 50px 0;
    &__title {
        font-size: 42px;
        font-weight: 800;
        color: $black;
        text-align: center;
        margin:0 0 50px 0;
        span {
            color: #E0007A;
        }
    }
    &__steppers {
        max-width: 70%;
        margin: 0 auto;
        .card {
            .card-body {
                padding: 40px 113px;
                .buttonsgroup {
                    display: flex;
                    justify-content: center;
                    margin-top: 20px;
                    button {
                        flex-basis: 49%;
                        outline: none;
                        box-shadow: none;
                        &:nth-last-child(n+2) {
                            margin-left: 2%;
                        }
                        &.outline {
                            background-color: transparent !important;
                            border: 2px solid $black !important;
                            color: $black !important;
                            &:hover {
                                background-color: $black !important;
                                color: $white !important;
                            }
                        }
                    }
                }
            }
            text-align: center;
            font-size: 16px;
            font-weight: 400;
            box-shadow: 0 0 3px 1px rgb(0 0 0 / 13%);
            border-radius: 0;
            border: 0;
            .card-header {
                display: flex;
                justify-content: space-between;
                .steps_status {
                    margin: 0;
                    line-height: 1;
                }
                /* Make circles that indicate the steps of the form: */
                .step {
                    height: 15px;
                    width: 15px;
                    margin: 0 2px;
                    background-color: #bbbbbb;
                    border: none;  
                    border-radius: 50%;
                    display: inline-block;
                    opacity: 0.5;
                }
                
                .step.active {
                    opacity: 1;
                    background-color: #E0007A;
                }
            }
        }
        &__start {
            &__btn {
                width: 360px;
                margin: 30px auto 0 auto;
                padding: 12px;
                font-size: 20px;
                font-weight: 500;
            }
        }
    }
}


.customselect, .custom-select {
    appearance: auto;
    .btn {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

// steppers
#stppersBox {
    background-color: #ffffff;
    margin: 0 auto;
    text-align: right;

    /* Hide all steps by default: */
    .stepTab {
      display: none;
      .articleimg {
          max-width: 75%;
          display: block;
          margin: 0 auto 15px auto;
      }
      .subtitle {
          font-size: 18px;
          font-weight: 700;
          color: #111111;
          margin-bottom: 15px;
      }
      .form-group {
          margin-bottom: 20px;
          font-size: 14px;
          font-weight: 400;
      }
      .checkbox-wrapper {
          margin-bottom: 15px;
          cursor: pointer;
          input {
              &:checked {
                  & + span {
                      background-color: #E0007A;
                      &::before {
                          display: none;
                      }
                  }
              }
          }
          label {
              font-size: 14px;
          }
      }
      .boldlabel {
          font-weight: 700;
          font-size: 18px;
          color: #111111;
      }
      &__title {
          font-size: 24px;
          font-weight: 700;
          color: $black;
          margin-bottom: 25px;
          line-height: 1;
          text-align: center;
      }
      input, select {
          color: $black;
          font-size: 18px;
          font-weight: 400;
      }
    }
    
    button {
      background-color: #E0007A;
      color: #ffffff;
      border: none;
      padding: 10px 20px;
      font-size: 17px;
      font-family: Raleway;
      cursor: pointer;
    }
    
    button:hover {
      opacity: 0.8;
    }
    
    #prevBtn {
      background-color: #bbbbbb;
    }
    
    
  }
  

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
  }
input[type="number"] {
    -moz-appearance: textfield;
}
.radiogroup {
    display: inline-flex;
    .form-check-label {
        position: relative;
        padding-right: 20px;
        cursor: pointer;
        .form-check-input {
            position: absolute;
            margin: 0;
            width: 15px;
            height: 15px;
            right: 0;
            top: 5px;
            opacity: 0;
            &:checked {
                & + span {
                    &::after {
                        content: "";
                        width: 9px;
                        height: 9px;
                        border-radius: 100%;
                        background-color: #E0007A;
                        display: inline-block;
                        position: absolute;
                        top: 2px;
                        left: 2px;
                    }
                }
            }
        }
        span {
            width: 15px;
            height: 15px;
            border-radius: 100%;
            border: 1px solid $black;
            display: inline-block;
            position: relative;
            right: 0;
            top: 5px;
        }
    }
}