@charset "UTF-8";
@font-face {
  font-family: "seguibl";
  font-weight: ttf otf woff woff2;
  src: url("../fonts/seguibl.eot?") format("eot"), url("../fonts/seguibl.woff2") format("woff2"), url("../fonts/seguibl.woff") format("woff"), url("../fonts/seguibl.ttf") format("truetype"), url("../fonts/seguibl.svg#seguibl") format("svg");
}
@font-face {
  font-family: "seguireg";
  font-weight: ttf otf woff woff2;
  src: url("../fonts/segoeuireg.eot?") format("eot"), url("../fonts/segoeuireg.woff2") format("woff2"), url("../fonts/segoeuireg.woff") format("woff"), url("../fonts/segoeuireg.ttf") format("truetype"), url("../fonts/segoeuireg.svg#seguireg") format("svg");
}
* {
  margin: 0;
  padding: 0;
}

ul {
  margin-bottom: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

.bmd-form-group {
  width: 1000%;
  max-width: 100%;
}

.bmd-layout-drawer {
  width: 714px !important;
  max-width: 75%;
  z-index: 111 !important;
  position: relative;
  -webkit-transform: translateX(-100%) !important;
  -moz-transform: translateX(-100%) !important;
  -ms-transform: translateX(-100%) !important;
  -o-transform: translateX(-100%) !important;
  transform: translateX(-100%) !important;
}

.bmd-layout-container {
  z-index: 111;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.bmd-layout-container.bmd-drawer-in {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.bmd-drawer-in.bmd-drawer-f-l > .bmd-layout-drawer {
  -webkit-transform: translateX(0) !important;
  -moz-transform: translateX(0) !important;
  -ms-transform: translateX(0) !important;
  -o-transform: translateX(0) !important;
  transform: translateX(0) !important;
}

.pageTitle, body main section.instaSection .instaHeading {
  font-size: 30px;
  font-weight: 700;
  padding: 10px;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  text-align: center;
  line-height: 1;
}
@media screen and (max-width: 991px) {
  .pageTitle, body main section.instaSection .instaHeading {
    font-size: 20px;
  }
}

.flexalign {
  display: flex;
  align-items: center;
}
.flexalign.flexleft {
  justify-content: flex-end;
}

.rating span {
  color: #E0007A;
  margin: 0 6px;
}
.rating span.checked::before {
  content: "★";
  position: absolute;
}

.reviewForm__title {
  font-size: 24px;
  font-weight: 600;
  border-bottom: 1px solid #000000 !important;
  padding: 10px 0;
  margin-bottom: 30px;
}
@media screen and (max-width: 991px) {
  .reviewForm__title {
    font-size: 15px;
  }
}
.reviewForm input {
  height: 70px;
}
.reviewForm input, .reviewForm textarea {
  margin-bottom: 30px;
  border-radius: 0;
  border: 1px solid #000000;
  box-shadow: none !important;
  font-size: 20px;
  font-weight: 300;
}
@media screen and (max-width: 991px) {
  .reviewForm input, .reviewForm textarea {
    font-size: 15px;
  }
}
.reviewForm button {
  width: 100%;
  padding: 12px;
  font-size: 30px;
  font-weight: 700;
  margin: 50px 0;
}
@media screen and (max-width: 991px) {
  .reviewForm button {
    font-size: 20px;
  }
}

.productCoursel {
  margin-top: 30px;
}
@media screen and (max-width: 991px) {
  .productCoursel {
    margin-bottom: 12px;
  }
}
.productCoursel .item {
  padding: 1px;
}

.productitem {
  border: 1px solid #D2D2D2;
}

.theme-title {
  color: #E0007A;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  padding: 10px;
  text-align: center;
  display: block;
  font-size: 50px;
  font-weight: 700;
}

.adbanner {
  margin: 30px 0;
  display: block;
}

.archive__header {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 25px;
}
.archive__header .sortby select {
  font-size: inherit;
  font-weight: inherit;
  min-width: 219px;
  padding: 7px 15px;
}
.archive__header .helptext {
  font-size: inherit;
  font-weight: inherit;
}
@media screen and (max-width: 991px) {
  .archive__header .helptext {
    display: none;
  }
}

.quantity {
  position: relative;
  width: 114px;
}
.quantity input {
  padding: 0 20px;
  width: 100%;
  text-align: center;
}
.quantity span.icons {
  position: absolute;
  top: 50%;
  font-size: 21px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.quantity span.icons.minus {
  right: 8px;
}
.quantity span.icons.plus {
  left: 8px;
}

.checkout__info {
  background-color: #F6F6F6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 18px;
}
.checkout__info .price span {
  font-size: 24px;
  color: #000000;
  font-weight: 300;
  text-decoration: line-through;
  line-height: 1;
}
@media screen and (max-width: 991px) {
  .checkout__info .price span {
    font-size: 12px;
  }
}
.checkout__info .price span.offer {
  color: #E0007A;
  font-weight: 700;
  margin-right: 8px;
  text-decoration: none;
}
.checkout__info .items {
  display: flex;
  align-items: center;
}
.checkout__info .items > span {
  margin-left: 15px;
}
.checkout__info .items .quantity input {
  font-size: 19px;
  font-weight: 600;
}
@media screen and (max-width: 991px) {
  .checkout__info .items .quantity input {
    font-size: 12px;
  }
}
.checkout__actions button {
  width: 100%;
  padding: 10px;
  margin: 25px 0;
  font-weight: 700;
  font-size: 34px;
}
@media screen and (max-width: 991px) {
  .checkout__actions button {
    font-size: 20px;
  }
}
.checkout__actions button img {
  width: 38px;
  margin-left: 50px;
}

.customAccrordion .card {
  border-left: 0;
  border-bottom: 0;
  border-right: 0;
  border-top: 1px solid #000000;
  border-radius: 0;
}
.customAccrordion .card:last-child {
  border-bottom: 1px solid #000000;
}
.customAccrordion .collapse {
  border-top: 1px solid #000000;
  font-size: 20px;
  font-weight: 300;
}
@media screen and (max-width: 991px) {
  .customAccrordion .collapse {
    font-size: 15px;
  }
}
.customAccrordion .card-header {
  background-color: transparent;
  border: 0;
  display: flex;
  justify-content: space-between;
}
.customAccrordion .card-header button {
  color: inherit;
  text-decoration: none;
  box-shadow: none;
  font-weight: 700;
  font-size: 20px;
}
@media screen and (max-width: 991px) {
  .customAccrordion .card-header button {
    font-size: 15px;
  }
}
.customAccrordion .card-header .accicon .icon {
  font-size: 24px;
  font-weight: 700;
}
.customAccrordion .card-header .accicon .icon.plus {
  display: none;
}
.customAccrordion .card-header .accicon .icon.minus {
  display: block;
}
.customAccrordion .card-header .collapsed + .accicon .icon.plus {
  display: block;
}
.customAccrordion .card-header .collapsed + .accicon .icon.minus {
  display: none;
}

.btnlined {
  border: 2px solid #E0007A;
  background-color: transparent;
  color: #E0007A;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btnlined:hover {
  background-color: #E0007A;
  color: #ffffff;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.rating-input > span {
  margin-left: 25px;
}

.reviewsSection {
  margin: 30px 0;
}
.reviewsSection .reviewTitle {
  color: #E0007A;
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 30px;
}
@media screen and (max-width: 991px) {
  .reviewsSection .reviewTitle {
    font-size: 15px;
  }
}
.reviewsSection .readmore {
  width: 100%;
  font-size: 30px;
  font-weight: 700;
  padding: 12px;
}
@media screen and (max-width: 991px) {
  .reviewsSection .readmore {
    font-size: 20px;
  }
}
.reviewsSection .reviewbox {
  background-color: #F6F6F6;
  padding: 0 22px;
  margin-bottom: 30px;
}
.reviewsSection .reviewbox__header {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
  border-bottom: 1px solid #D2D2D2;
  color: #E0007A;
  font-size: 20px;
  font-weight: 600;
}
@media screen and (max-width: 991px) {
  .reviewsSection .reviewbox__header {
    font-size: 15px;
  }
}
.reviewsSection .reviewbox__content {
  padding: 26px 0;
  font-size: 20px;
  font-weight: 300;
}
@media screen and (max-width: 991px) {
  .reviewsSection .reviewbox__content {
    font-size: 15px;
  }
}
.reviewsSection .reviewbox__footer {
  display: flex;
  border-top: 1px solid #D2D2D2;
  padding: 15px 0;
}
.reviewsSection .reviewbox__footer span {
  margin-left: 25px;
  font-size: 20px;
  font-weight: 600;
}
@media screen and (max-width: 991px) {
  .reviewsSection .reviewbox__footer span {
    font-size: 15px;
  }
}

.owl-carousel {
  direction: ltr;
}
.owl-carousel.light .owl-dots {
  background-color: #F6F6F6;
  display: flex;
  justify-content: center;
}
.owl-carousel .owl-dots button span {
  background-color: #FBCDE9 !important;
}
.owl-carousel .owl-dots button.active span {
  background-color: #E0007A !important;
}

.completementaryProducts {
  padding: 15px;
  margin: 40px 0 25px 0;
}
.completementaryProducts .title {
  font-size: 20px;
  font-weight: 700;
  padding: 12px;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
}
@media screen and (max-width: 991px) {
  .completementaryProducts .title {
    text-align: center;
  }
}
.completementaryProducts .productsGroup {
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
}
.completementaryProducts .productsGroup__item {
  width: 50%;
  padding: 15px;
}
.completementaryProducts .productsGroup__item .productFigure {
  margin-bottom: 0;
}

.breadcrumbs {
  text-align: right;
  padding: 40px 0 30px;
  color: #000000;
}
@media screen and (max-width: 991px) {
  .breadcrumbs {
    padding-top: 0;
    padding-bottom: 8px;
    text-align: center;
  }
}
.breadcrumbs__item {
  display: inline-block;
}
.breadcrumbs__item:nth-last-child(n+2) a::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 18px;
  left: -3px;
  background-color: #000000;
  top: 3px;
  -webkit-transform: rotate(145deg);
  -moz-transform: rotate(145deg);
  -ms-transform: rotate(145deg);
  -o-transform: rotate(145deg);
  transform: rotate(145deg);
}
.breadcrumbs__item a {
  padding: 0 12px;
  line-height: 1;
  color: inherit;
  position: relative;
}

a {
  text-decoration: none !important;
}

.bg-theme-light {
  background-color: #FBCDE9;
}
.bg-theme-light .owl-carousel .owl-dots button span {
  background-color: #ffffff !important;
}
.bg-theme-light .owl-carousel .owl-dots button.active span {
  background-color: #E0007A !important;
}

.theme-btn {
  border: 2px solid #E0007A;
  background-color: transparent;
  font-size: 30px;
  font-weight: 700;
  color: #E0007A;
  padding: 10px;
  width: 100%;
  margin: 30px 0;
}
@media screen and (max-width: 991px) {
  .theme-btn {
    font-size: 24px;
    padding: 5px;
  }
}

.magazineSectoin {
  margin: 30px 0 20px;
}
@media screen and (min-width: 992px) {
  .magazineSectoin {
    padding: 38px;
    background-color: #f5c0e3;
  }
}
.magazineSectoin .row {
  align-items: center;
}
.magazineSectoin aside {
  text-align: right;
}
@media screen and (max-width: 991px) {
  .magazineSectoin aside {
    text-align: center;
    background-color: #f5c0e3;
    padding: 15px;
    margin-bottom: 20px;
  }
  .magazineSectoin aside .title, .magazineSectoin aside .subtitle {
    font-size: 30px;
  }
}
.magazineSectoin aside .title, .magazineSectoin aside .subtitle {
  display: inline-block;
  font-weight: 800;
  margin-bottom: 0;
}
@media screen and (min-width: 992px) {
  .magazineSectoin aside .title, .magazineSectoin aside .subtitle {
    font-size: 50px;
  }
}
.magazineSectoin aside .title {
  color: #E0007A;
}
.magazineSectoin aside .subtitle {
  color: #000000;
}
.magazineSectoin .magazinesArticle {
  display: flex;
  justify-content: space-between;
  overflow-x: auto;
}
.magazineSectoin .magazinesArticle .magazinesArticle__item {
  width: 90px;
  margin: 0 20px;
}
.magazineSectoin .magazinesArticle .magazinesArticle__item__img {
  width: 90px;
  height: 90px;
  border-radius: 100%;
  border: 3px solid #E0007A;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  margin-bottom: 15px;
}
@media screen and (max-width: 991px) {
  .magazineSectoin .magazinesArticle .magazinesArticle__item__img {
    width: 90px;
    height: 90px;
  }
  .magazineSectoin .magazinesArticle .magazinesArticle__item__img img {
    width: 30px;
  }
}
.magazineSectoin .magazinesArticle .magazinesArticle__item__img img {
  width: 45px;
}
.magazineSectoin .magazinesArticle .magazinesArticle__item__desc {
  line-height: 1;
  font-size: 18px;
  font-weight: 700;
  color: #000000;
  text-align: center;
}
@media screen and (max-width: 991px) {
  .magazineSectoin .magazinesArticle .magazinesArticle__item__desc {
    font-size: 12px;
  }
}

.blogpageSection {
  text-align: right;
  padding-bottom: 60px;
}
.blogpageSection__details {
  padding: 10px 0;
  border-top: 1px solid #707070;
  border-bottom: 1px solid #707070;
  color: #707070;
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 40px;
}
@media screen and (max-width: 991px) {
  .blogpageSection__details {
    font-size: 20px;
  }
}
.blogpageSection__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 15px 0;
}
@media screen and (max-width: 991px) {
  .blogpageSection__header {
    flex-direction: column-reverse;
    text-align: center;
  }
  .blogpageSection__header a, .blogpageSection__header .title {
    width: 100%;
  }
}
.blogpageSection__header .title {
  font-size: 40px;
  font-weight: 700;
  line-height: 1;
}
@media screen and (max-width: 991px) {
  .blogpageSection__header .title {
    font-size: 28px;
  }
}
.blogpageSection__header a {
  font-size: 20px;
  font-weight: 300;
  text-decoration: none;
  color: inherit;
}
@media screen and (max-width: 991px) {
  .blogpageSection__header a {
    font-size: 15px;
  }
}
.blogpageSection__content {
  font-size: 20px;
  font-weight: 300;
}
.blogpageSection__content p {
  margin-bottom: 30px;
}
.blogpageSection__content img {
  width: 100%;
  margin-bottom: 30px;
}
.blogpageSection__content .images {
  display: flex;
  flex-wrap: wrap;
}
.blogpageSection__content .images img {
  max-width: 48%;
  margin: 1%;
}

.theme-btn-dark {
  background-color: #E0007A;
  color: #ffffff;
  border: 0;
  outline: none !important;
  border: 2px solid #E0007A;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.theme-btn-dark:hover {
  background-color: #ffffff;
  color: #E0007A;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.accard {
  border: 0;
  background-color: #F6F6F6;
}
.accard .card-header {
  padding: 0;
  border: 0;
}

.filterOptions .options {
  margin-bottom: 10px;
}

details {
  margin-top: 0 !important;
  max-width: 500px;
  box-sizing: border-box;
  margin-top: 5px;
}
@media screen and (max-width: 991px) {
  details {
    margin-bottom: 15px;
    position: relative;
  }
  details .content {
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 11;
  }
}
details .btn-link {
  width: 100%;
  text-align: right;
  padding: 15px;
  outline: none !important;
  box-shadow: none !important;
  text-decoration: none !important;
  background-color: #E5E5E5;
  border: 0;
  color: #000000 !important;
  font-size: 20px;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
}
details .btn-link span {
  font-weight: 800;
  color: #E0007A;
}
details .btn-link .plus {
  display: none;
}
details .btn-link .minus {
  display: block;
}
details .btn-link.collapsed .plus {
  display: block;
}
details .btn-link.collapsed .minus {
  display: none;
}
details summary {
  background: #E0007A;
  color: #ffffff;
  outline: none;
}
details summary::-webkit-details-marker {
  display: none;
}
details summary .summaryheader {
  justify-content: space-between;
  padding: 20px;
  font-size: 20px;
  line-height: 1;
}
@media screen and (max-width: 991px) {
  details summary .summaryheader {
    padding: 14px;
  }
}
details summary .summaryheader label {
  font-weight: 700;
  margin: 0;
}
details summary .summaryheader span {
  font-weight: 400;
}
@media screen and (max-width: 991px) {
  details summary .summaryheader span {
    display: none;
  }
}
details .content {
  text-align: right;
  font-size: 20px;
  font-weight: 300;
}

body {
  direction: rtl;
  font-family: "Heebo", sans-serif !important;
  font-weight: 400;
}
body header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  background-color: #fff;
  z-index: 111;
}
@media screen and (max-width: 991px) {
  body header.scrolled .midHeader .autocomplete-wrapper {
    padding: 20px 0 0;
  }
}
body header.scrolled .topHeader {
  padding: 0;
  height: 0;
  overflow: hidden;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
body header.scrolled .midHeader {
  padding: 10px 0;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
body header.scrolled .midHeader .logoimg {
  width: 140px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
body header .topHeader {
  background-color: #E0007A;
  padding: 8px 0;
  color: #ffffff;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
body header .topHeader img {
  margin-left: 8px;
}
body header .topHeader button {
  background: transparent;
  border: 0;
  outline: none;
  color: #ffffff;
  font-size: 24px;
}
body header .topHeader .child-inline {
  margin: 0 -8px;
}
@media screen and (max-width: 991px) {
  body header .topHeader .child-inline {
    margin: 0;
    display: inline-flex;
    align-items: center;
  }
  body header .topHeader .child-inline li .sz-navbar-hamburger {
    position: relative !important;
    font-size: 24px;
    margin-bottom: 0;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    margin-left: 5px;
  }
}
body header .topHeader .child-inline li {
  display: inline-block;
  padding: 0 8px;
}
body header .topHeader .child-inline li img {
  width: 18px;
}
@media screen and (max-width: 991px) {
  body header .topHeader .child-inline li img {
    width: 28px;
  }
}
body header .topHeader a {
  color: inherit;
  font-size: 16px;
  line-height: 1;
  align-items: center;
}
body header .midHeader {
  padding: 40px 0;
  color: #000000;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
body header .midHeader .logoimg {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
body header .midHeader .category-wrapper {
  display: flex;
  overflow-x: auto;
  margin-top: 40px;
}
body header .midHeader .category-wrapper figure {
  width: 60px;
  margin: 0 6px;
  text-align: center;
}
body header .midHeader .category-wrapper figure .imgparent {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  border: 2px solid #E0007A;
  overflow: hidden;
}
body header .midHeader .category-wrapper figure .imgparent img {
  width: 100%;
}
@media screen and (max-width: 991px) {
  body header .midHeader .logoimg {
    display: block;
    margin: 0 auto;
    width: 40%;
  }
}
body header .midHeader a {
  color: inherit;
}
body header .midHeader .autocomplete-wrapper {
  position: relative;
}
@media screen and (min-width: 992px) {
  body header .midHeader .autocomplete-wrapper {
    top: 50%;
    -webkit-transform: translateY(-48%);
    -moz-transform: translateY(-48%);
    -ms-transform: translateY(-48%);
    -o-transform: translateY(-48%);
    transform: translateY(-48%);
  }
}
@media screen and (max-width: 991px) {
  body header .midHeader .autocomplete-wrapper {
    padding: 60px 0 0;
    margin: 0 15px;
  }
  body header .midHeader .autocomplete-wrapper .searchicon {
    bottom: 10px;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}
body header .midHeader .autocomplete-wrapper .searchicon {
  position: absolute;
  left: 10px;
}
@media screen and (min-width: 992px) {
  body header .midHeader .autocomplete-wrapper .searchicon {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}
body header .midHeader .autocomplete-wrapper .searchicon i {
  font-size: 20px;
}
body header .midHeader .autocomplete-wrapper .autocomplete-input {
  width: 100%;
  padding: 8px 8px 8px 50px;
  line-height: 1;
  font-size: 20px;
  font-weight: 300;
  outline: none;
}
body header .midHeader .cartbutton {
  background-color: #fbcde9;
  font-weight: 500;
  border: 0;
  padding: 12px;
  line-height: 1;
  display: inline-flex;
  align-items: center;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-48%);
  -moz-transform: translateY(-48%);
  -ms-transform: translateY(-48%);
  -o-transform: translateY(-48%);
  transform: translateY(-48%);
}
body header .midHeader .cartbutton i {
  color: #E0007A;
  font-size: 30px;
  margin-right: 15px;
}
body main {
  padding-top: 278px;
}
@media screen and (max-width: 991px) {
  body main {
    padding-top: 442px;
  }
}
body main .scrolltop {
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 11;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: #E0007A;
  color: #fff;
  text-align: center;
  line-height: 50px;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}
body main .scrolltop i {
  font-size: 30px;
  line-height: 1.5;
}
body main section.bannerSection .bannervideo {
  margin-top: 15px;
}
body main section.asideSection {
  margin: 20px 0;
}
body main section.asideSection .title {
  font-size: 30px;
}
@media screen and (max-width: 991px) {
  body main section.asideSection {
    margin: 10px 0;
  }
}
body main section .owl-carousel .item {
  direction: rtl;
}
body main section .centernav {
  position: relative;
  padding: 15px 70px;
}
@media screen and (max-width: 991px) {
  body main section .centernav {
    padding: 15px 0px;
  }
}
body main section .centernav.nopadd {
  padding: 15px 0;
}
body main section .centernav.nopadd .owl-nav button {
  background-color: #ffffff !important;
  width: 35px;
}
body main section .centernav.nopadd .owl-nav button span {
  line-height: 1;
}
body main section .centernav .owl-nav {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  justify-content: space-between;
}
body main section .centernav .owl-nav button {
  background-color: transparent !important;
  outline: none !important;
}
body main section .centernav .owl-nav button span {
  font-size: 50px;
  font-weight: 100;
  color: #707070 !important;
}
body main section .productFigure {
  box-shadow: 1px 1px 2px 0 #cccccc;
  background-color: #ffffff;
}
body main section .productFigure figcaption {
  text-align: center;
  color: #000000;
  font-size: 13px;
  font-weight: 300;
  margin-top: 15px;
}
body main section .productFigure figcaption .productCaption {
  font-size: 16px;
  font-weight: 700;
}
body main section .productFigure figcaption p {
  font-size: 13px;
}
body main section .productFigure figcaption .productActions {
  background-color: #f6f6f6;
  height: 35px;
  line-height: 35px;
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
body main section .productFigure figcaption .productActions button {
  border: 0;
  width: 33px;
  height: 35px;
  color: #ffffff;
  background-color: #E0007A;
  line-height: 1;
}
body main section .productFigure figcaption .productActions button i {
  font-size: 18px;
}
body main section .productFigure figcaption .productActions__info {
  display: flex;
  justify-content: space-between;
  padding: 0 16px 0 11px;
  height: 35px;
  flex: 1;
}
body main section .productFigure figcaption .productActions__info span {
  font-size: 10px;
  font-weight: 400;
  line-height: 35px;
}
body main section .productFigure figcaption .productActions__info span.price {
  color: #E0007A;
  font-weight: 700;
  font-size: 13px;
}
body main section.adSection .withCaption {
  margin: 10px 0;
}
body main section.adSection .withCaption .title {
  color: rgba(0, 0, 0, 0.14);
  font-size: 70px;
  font-weight: 700;
}
@media screen and (max-width: 991px) {
  body main section.adSection .withCaption .title {
    font-size: 20px;
  }
}
body main section.adSection .adsGroup ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -8px;
}
body main section.adSection .adsGroup ul li {
  max-width: 50%;
  min-width: 50%;
  padding: 10px 8px;
}
body main section.adSection .adsGroup ul li:last-child {
  max-width: 100%;
  min-width: 100%;
}
body main section.adSection .adsGroup ul li a {
  display: block;
  width: 100%;
}
body main section.adSection .adsGroup ul li a img {
  width: inherit;
}
body main section.bestSellers {
  padding: 20px 0;
  margin: 10px 0 20px 0;
  float: left;
  width: 100%;
}
body main section.instaSection {
  padding: 20px 0;
}
body main section.instaSection .instaHeading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
body main section.instaSection .instaHeading button {
  font-weight: 700;
  font-size: 24px;
  display: flex;
  align-items: center;
  padding: 15px;
}
body main section.instaSection .instaHeading button i {
  font-size: 31px;
  margin-left: 15px;
}
body main section.singleBanner {
  padding: 15px 0 20px 0;
}
body main section.singleBanner .pageTitle, body main section.singleBanner section.instaSection .instaHeading, body main section.instaSection section.singleBanner .instaHeading {
  margin-bottom: 20px;
}
body main section.singleBanner .title {
  font-family: "seguireg";
  font-size: 50px;
}
body main section.productarticle {
  font-weight: 300;
  font-size: 20px;
  text-align: right;
}
@media screen and (max-width: 991px) {
  body main section.productarticle .productarticle__title {
    text-align: center !important;
    font-size: 20px !important;
    margin: 0 10%;
    padding: 0 !important;
  }
  body main section.productarticle .namecompany {
    font-size: 12px;
    font-weight: 300;
    margin: 8px 0;
    display: block;
    text-align: center;
  }
}
body main section.productarticle .productarticle__title {
  font-size: 30px;
  font-weight: 700;
  color: #000000;
  padding-left: 40%;
  text-align: right;
}
body main section.productarticle .heading {
  padding: 10px 0;
  justify-content: space-between;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  margin: 20px 0 30px;
  font-size: 16px;
  font-weight: 300;
}
@media screen and (max-width: 991px) {
  body main section.productarticle {
    font-size: 12px;
    font-weight: 300;
  }
}
body .newsletterSection {
  padding: 25px 0;
}
body .newsletterSection .title {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}
body .newsletterSection .newsletterForm {
  margin-top: 20px;
}
body .newsletterSection .newsletterForm button {
  min-width: 220px;
  font-size: 20px;
  font-weight: 700;
  border-radius: 0 !important;
  height: 60px;
}
body .newsletterSection .newsletterForm input {
  border-radius: 0 !important;
  border: 0;
  outline: none !important;
  box-shadow: none !important;
  height: 60px;
  font-size: 20px;
  font-weight: 300;
}
body footer {
  padding: 28px 0 55px 0;
}
body footer .newsletterSection {
  margin: 20px -15px;
}
@media screen and (max-width: 991px) {
  body footer {
    padding: 28px 0 0 0;
  }
}
@media screen and (max-width: 991px) {
  body footer .alter {
    flex-direction: column-reverse;
  }
}
body footer .menutitle {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 28px;
  text-align: right;
}
body footer .withCaption .title {
  font-size: 30px;
  font-family: "seguireg";
  color: #707070;
}
body footer ul li {
  margin-bottom: 28px;
  text-align: right;
}
body footer ul li a {
  font-size: 20px;
  font-weight: 300;
  color: #000000;
}
body footer ul li a:hover, body footer ul li a i {
  color: #E0007A;
}
body footer ul li a i {
  font-size: 15px;
}
body footer ul li .social-icons {
  display: flex;
}
body footer ul li .social-icons a {
  font-size: 21px;
}
body footer ul li .social-icons a i {
  font-size: inherit;
  color: #000000;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
body footer ul li .social-icons a:hover i {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
body footer ul.withicon li a {
  display: flex;
  align-items: center;
  font-weight: 400;
}
body footer ul.withicon li a i {
  margin-left: 26px;
}
body footer ul.withicon li a span {
  font-weight: 700;
  margin-right: 8px;
}
@media screen and (max-width: 991px) {
  body footer ul.withicon li {
    border-bottom: 1px solid #cccccc;
    margin: 0;
    padding: 14px 0;
  }
}

.ui-autocomplete {
  max-height: 600px;
  width: 320px;
  overflow-y: auto;
  overflow-x: hidden;
  border: 1px solid black;
  border-top: 0;
  background-color: #ffffff;
}

* html .ui-autocomplete {
  height: 600px;
}

.ui-menu-item {
  padding: 10px;
}
.ui-menu-item:nth-last-child(n+2) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.09);
}
.ui-menu-item .ui-menu-item-wrapper {
  align-items: center;
}
.ui-menu-item .product-img {
  width: 30px;
  border-radius: 100%;
  overflow: hidden;
}
.ui-menu-item .product-img img {
  width: 100%;
}
.ui-menu-item .product-desc {
  word-break: break-all;
  padding: 0 10px;
}
.ui-menu-item .product-price {
  margin-right: auto;
}
.ui-menu-item .product-price label {
  margin-bottom: 0;
}
.ui-menu-item .product-price label.strike {
  color: #cccccc;
  text-decoration: line-through;
  margin-right: 5px;
}

#project-description {
  margin: 0;
  padding: 0;
}

.ui-helper-hidden-accessible {
  display: none;
}

.sz-navbar {
  height: 0;
}
@media screen and (min-width: 992px) {
  .sz-navbar {
    height: 48px;
    /* overriding default 64px height */
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
  }
}
.sz-navbar .sz-navbar-items a {
  color: #000000;
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
}

figure > img {
  width: 100%;
}
figure.withCaption {
  position: relative;
}
@media screen and (max-width: 991px) {
  figure.withCaption {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 992px) {
  figure.withCaption.heavy .title {
    font-size: 50px;
    font-family: "seguibl";
  }
}
figure.withCaption figcaption {
  position: absolute;
  text-align: center;
  width: 100%;
  padding: 20px 20%;
  top: 50%;
  left: 0;
  color: #707070;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.checkoutitems__header {
  margin: 10px;
  padding: 10px 0;
  border-bottom: 1px solid #000000;
  border-top: 1px solid #000000;
  display: flex;
  justify-content: space-between;
}
.checkoutitems__header button {
  background-color: transparent;
  border: 0;
  outline: none;
}
.checkoutitems__header span {
  font-weight: 700;
  font-size: 30px;
}
.checkoutitems__content {
  padding: 10px;
}
.checkoutitems__content__item {
  padding-bottom: 17px;
}
.checkoutitems__content__item:nth-last-child(n+2) {
  margin-bottom: 17px;
  border-bottom: 1px solid #cccccc;
}
.checkoutitems__content__item__content {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 80px;
}
.checkoutitems__content__item__content .remove {
  position: absolute;
  left: 10px;
  top: 10px;
  font-size: 20px;
  font-weight: 300;
}
.checkoutitems__content__item__content .checkoutProduct__img {
  width: 150px;
  height: 150px;
  border: 1px solid #cccccc;
  margin-left: 20px;
}
.checkoutitems__content__item__content .checkoutProduct__img img {
  width: 100%;
}
.checkoutitems__content__item__content .checkoutProduct__content {
  font-size: 20px;
  font-weight: 300;
}
.checkoutitems__content__item__content .checkoutProduct__content .title {
  font-weight: 700;
  font-size: inherit;
}
.checkoutitems__content__item__footer {
  background-color: #F6F6F6;
  padding: 10px;
  margin-top: 17px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.checkoutitems__content__item__footer .items {
  display: flex;
}
.checkoutitems__content__item__footer .items .quantity {
  margin-right: 15px;
}
.checkoutitems__content__item__footer .price {
  color: #E0007A;
  font-weight: 700;
  font-size: 23px;
}
.checkoutitems__footer {
  background-color: #F6F6F6;
  padding: 10px;
}
.checkoutitems__footer ul {
  margin: 0;
}
.checkoutitems__footer ul:nth-last-child(n+3) {
  border-bottom: 1px solid #cccccc;
}
.checkoutitems__footer ul li {
  list-style: none;
  padding: 8px 0;
  display: flex;
  justify-content: space-between;
}
.checkoutitems__footer ul li span {
  font-size: 20px;
  font-weight: 300;
  color: #707070;
}
.checkoutitems__footer ul li span.b {
  font-weight: 700;
  font-size: 24px;
  color: #000000;
}
.checkoutitems__footer button {
  width: 100%;
  padding: 10px;
  font-weight: 700;
  font-size: 34px;
}

@media screen and (min-width: 1430px) {
  .container {
    max-width: 1400px !important;
  }
}
@media screen and (min-width: 992px) {
  .socialIcon-wrapper .rights {
    display: none;
  }

  .showMobile {
    display: none !important;
  }
}
@media screen and (max-width: 991px) {
  .hideMobile {
    display: none !important;
  }

  .bottomHeader {
    position: relative;
    z-index: 11;
  }

  .container {
    max-width: 100%;
  }

  .socialIcon-wrapper {
    display: flex;
    justify-content: space-between;
  }
  .socialIcon-wrapper .rights {
    font-size: 12px;
  }

  .menulist {
    padding: 20px 0;
    margin-bottom: 10px;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
  }
  .menulist li:last-child {
    margin-bottom: 0;
  }

  .menuwithicon .menutitle {
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    padding: 15px 0;
    text-align: center;
  }
}
.link-btn {
  background-color: transparent;
  border: none;
  outline: none;
  text-decoration: underline;
}

.theme-input input, .theme-input select {
  width: 100%;
  height: 50px;
  border: 1px solid #000000;
  color: #000000;
  font-weight: 400;
  font-size: 20px;
  padding: 10px;
  outline: none;
}
@media screen and (max-width: 991px) {
  .theme-input input, .theme-input select {
    height: 40px;
    font-size: 15px;
  }
}

.checkbox-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}
.checkbox-wrapper input {
  position: absolute;
  z-index: 1;
  width: 14px;
  height: 14px;
  top: 3px;
  opacity: 0;
}
.checkbox-wrapper input:checked + span::before {
  content: "";
  width: 8px;
  height: 16px;
  position: absolute;
  border-bottom: 3px solid #E0007A;
  border-right: 3px solid #E0007A;
  transform: rotate(45deg);
  top: -5px;
}
.checkbox-wrapper span {
  position: relative;
  width: 14px;
  height: 14px;
  border: 1px solid #000000;
  display: inline-block;
  margin-left: 10px;
}
.checkbox-wrapper label {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  color: #000000;
}
@media screen and (max-width: 991px) {
  .checkbox-wrapper label {
    font-size: 15px;
  }
}

.blogs-wrapper {
  padding: 30px 0 50px;
}

.single-blog {
  text-align: right;
  margin-bottom: 65px;
}
@media screen and (max-width: 991px) {
  .single-blog {
    margin-bottom: 30px;
  }
}
.single-blog__title {
  font-size: 30px;
  font-weight: 700;
  color: #000000;
  line-height: 1;
  margin: 15px 0;
}
@media screen and (max-width: 991px) {
  .single-blog__title {
    font-size: 24px;
  }
}
.single-blog__details {
  padding: 10px 0;
  border-top: 1px solid #707070;
  border-bottom: 1px solid #707070;
  color: #707070;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 300;
}
.single-blog__desc {
  padding: 15px 0;
  font-size: 18px;
  font-weight: 300;
}

.loginmodal__dialog {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  overflow-y: auto;
}
.loginmodal__content {
  border-radius: 0;
  padding: 40px;
  max-height: 80vh;
  overflow-y: auto;
}
@media screen and (max-width: 991px) {
  .loginmodal__content {
    padding: 29px 17px;
  }
}
.loginmodal__content .login-box {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 991px) {
  .loginmodal__content .login-box {
    flex-direction: column;
  }
}
.loginmodal__content .login-box .login-left {
  padding-right: 30px;
}
@media screen and (max-width: 991px) {
  .loginmodal__content .login-box .login-left {
    padding-right: 0;
    padding-top: 30px;
  }
}
.loginmodal__content .login-box .login-right {
  padding-left: 50px;
  border-left: 1px solid #666666;
}
@media screen and (max-width: 991px) {
  .loginmodal__content .login-box .login-right {
    border-bottom: 1px solid #666666;
    border-left: 0;
    padding-left: 0;
    padding-bottom: 15px;
  }
}
.loginmodal__content .login-box .login-left,
.loginmodal__content .login-box .login-right {
  flex: 1;
  text-align: right;
}
.loginmodal__content .login-box .login-left .login-title,
.loginmodal__content .login-box .login-right .login-title {
  line-height: 1;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 20px;
}
@media screen and (max-width: 991px) {
  .loginmodal__content .login-box .login-left .login-title,
.loginmodal__content .login-box .login-right .login-title {
    font-size: 20px;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 991px) {
  .loginmodal__content .login-box .login-left .form-fields,
.loginmodal__content .login-box .login-right .form-fields {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 992px) {
  .loginmodal__content .login-box .login-left .form-fields,
.loginmodal__content .login-box .login-right .form-fields {
    height: 221px;
  }
}
.loginmodal__content .login-box .login-left .form-fields .login-input,
.loginmodal__content .login-box .login-right .form-fields .login-input {
  margin-bottom: 25px;
}
@media screen and (max-width: 991px) {
  .loginmodal__content .login-box .login-left .form-fields .login-input,
.loginmodal__content .login-box .login-right .form-fields .login-input {
    margin-bottom: 10px;
  }
}
.loginmodal__content .login-box .login-left button,
.loginmodal__content .login-box .login-right button {
  display: block;
  width: 100%;
  font-size: 24px;
  font-weight: 500;
  padding: 12px;
}
@media screen and (max-width: 991px) {
  .loginmodal__content .login-box .login-left button,
.loginmodal__content .login-box .login-right button {
    font-size: 20px;
    padding: 6px;
  }
}
.loginmodal__content .login-box .login-left .link-btn,
.loginmodal__content .login-box .login-right .link-btn {
  text-align: right;
  font-size: 18px;
}

@media (max-width: 600px) {
  .sz-navbar-items {
    width: 300px;
    /* limit width of mobile menu */
  }
}
.productSection__carousel .owl-dots {
  background-color: #F6F6F6;
  margin-top: 0;
  padding-top: 10px;
}

.dark-btn, .woocommerce-cart .woocommerce table.shop_table th.actions button, .woocommerce-cart .woocommerce table.shop_table td.actions button, .woocommerce-checkout .woocommerce table.shop_table th.actions button, .woocommerce-checkout .woocommerce table.shop_table td.actions button, .woocommerce-cart .woocommerce .cart-collaterals .checkout_coupon .coupon button, .woocommerce-cart .woocommerce .cart-collaterals .checkout_coupon .coupon input[type=submit], .woocommerce-cart .woocommerce .order-review-wrapper .checkout_coupon .coupon button, .woocommerce-cart .woocommerce .order-review-wrapper .checkout_coupon .coupon input[type=submit], .woocommerce-cart .woocommerce .woocommerce-customer-details .woocommerce-columns .checkout_coupon .coupon button, .woocommerce-cart .woocommerce .woocommerce-customer-details .woocommerce-columns .checkout_coupon .coupon input[type=submit], .woocommerce-checkout .woocommerce .cart-collaterals .checkout_coupon .coupon button, .woocommerce-checkout .woocommerce .cart-collaterals .checkout_coupon .coupon input[type=submit], .woocommerce-checkout .woocommerce .order-review-wrapper .checkout_coupon .coupon button, .woocommerce-checkout .woocommerce .order-review-wrapper .checkout_coupon .coupon input[type=submit], .woocommerce-checkout .woocommerce .woocommerce-customer-details .woocommerce-columns .checkout_coupon .coupon button, .woocommerce-checkout .woocommerce .woocommerce-customer-details .woocommerce-columns .checkout_coupon .coupon input[type=submit] {
  background-color: #111111;
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  border-radius: 0;
  outline: none;
  border: 0;
}

.woocommerce-account .breadcrumbs__item {
  font-size: 24px;
}
.woocommerce-account .breadcrumbs__item a::after {
  height: 25px !important;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}
.woocommerce-account .breadcrumbs__item.prod_name {
  color: #E0007A;
  font-weight: 700;
  font-size: 24px;
}
.woocommerce-account .woocommerce {
  margin-bottom: 30px;
}
.woocommerce-account .woocommerce a {
  color: #E0007A;
}
.woocommerce-account .woocommerce a:hover {
  color: #c3086e;
}
.woocommerce-account .woocommerce .woocommerce-customer-details {
  background-color: #f6f6f6;
  padding: 19px 18px;
}
.woocommerce-account .woocommerce .woocommerce-customer-details .woocommerce-columns {
  display: flex;
}
.woocommerce-account .woocommerce .woocommerce-customer-details .woocommerce-columns .woocommerce-column {
  flex: 1;
  width: 50%;
}
@media screen and (max-width: 480px) {
  .woocommerce-account .woocommerce .woocommerce-customer-details .woocommerce-columns {
    flex-direction: column;
  }
}
.woocommerce-account .woocommerce .woocommerce-customer-details .woocommerce-columns .woocommerce-column {
  width: 100%;
  max-width: 100%;
  text-align: right;
}
.woocommerce-account .woocommerce .woocommerce-customer-details .woocommerce-columns .woocommerce-column__title {
  font-weight: 700;
  font-size: 24px;
}
.woocommerce-account .woocommerce .woocommerce-customer-details .woocommerce-columns .woocommerce-column:nth-last-child(n+2) {
  margin-bottom: 30px;
}
.woocommerce-account .woocommerce .woocommerce-customer-details .woocommerce-columns .woocommerce-column address {
  border: 0;
  font-weight: 300;
  font-size: 20px;
}
.woocommerce-account .woocommerce .woocommerce-button, .woocommerce-account .woocommerce .woocommerce-Button {
  background-color: #E0007A;
  color: #ffffff !important;
  border-radius: 0;
  padding: 6px 20px;
}
.woocommerce-account .woocommerce .woocommerce-button:hover, .woocommerce-account .woocommerce .woocommerce-Button:hover {
  background-color: #c3086e;
}
.woocommerce-account .woocommerce .woocommerce-Input {
  border: 1px solid #000000;
  padding: 10px;
  background-color: transparent !important;
}
.woocommerce-account .woocommerce .woocommerce-form-login {
  background-color: #f6f6f6;
  margin: 0 auto;
  max-width: 600px;
}
.woocommerce-account .woocommerce .woocommerce-form-login .woocommerce-form-row, .woocommerce-account .woocommerce .woocommerce-form-login .form-row {
  flex-direction: column;
}
.woocommerce-account .woocommerce .woocommerce-MyAccount-navigation {
  background-color: #f6f6f6;
  padding: 10px;
  margin-bottom: 30px;
}
.woocommerce-account .woocommerce .woocommerce-MyAccount-navigation li a {
  display: block;
  padding: 5px;
  color: #e0007a;
  font-weight: 600;
}
.woocommerce-account .woocommerce .woocommerce-MyAccount-navigation li:nth-last-child(n+2) {
  border-bottom: 1px solid #ececec;
}
.woocommerce-account .woocommerce .woocommerce-MyAccount-navigation li:hover a {
  background-color: #E0007A;
  color: #ffffff;
}
.woocommerce-account .woocommerce .woocommerce-MyAccount-content {
  font-size: 20px;
  font-weight: 300;
  text-align: right;
}
.woocommerce-account .woocommerce .woocommerce-MyAccount-content a {
  color: #E0007A;
  font-weight: 600;
}
.woocommerce-account .woocommerce .woocommerce-MyAccount-content .woocommerce-EditAccountForm label {
  line-height: 1;
  text-align: right;
}
.woocommerce-account .woocommerce .woocommerce-MyAccount-content .woocommerce-EditAccountForm input {
  padding: 10px;
}
.woocommerce-account .woocommerce .woocommerce-MyAccount-content .woocommerce-EditAccountForm .woocommerce-form-row {
  flex-direction: column;
}
.woocommerce-account .woocommerce .woocommerce-MyAccount-content .woocommerce-EditAccountForm .woocommerce-password-strength {
  background-color: #e0007a;
  color: #ffffff;
}
.woocommerce-account .woocommerce .woocommerce-MyAccount-content .woocommerce-EditAccountForm .woocommerce-password-strength, .woocommerce-account .woocommerce .woocommerce-MyAccount-content .woocommerce-EditAccountForm .woocommerce-password-hint {
  text-align: right;
}
.woocommerce-account .woocommerce .woocommerce-MyAccount-content .woocommerce-orders-table {
  font-weight: 500;
  font-size: 18px;
}
.woocommerce-account .woocommerce .woocommerce-MyAccount-content .woocommerce-orders-table .woocommerce-Price-amount.amount {
  font-size: inherit !important;
  font-weight: inherit;
}
.woocommerce-account .woocommerce .woocommerce-MyAccount-content .woocommerce-Addresses {
  background-color: #f6f6f6;
  padding: 19px 18px;
  display: flex;
  justify-content: space-between;
  text-align: right;
}
.woocommerce-account .woocommerce .woocommerce-MyAccount-content .woocommerce-Addresses::before, .woocommerce-account .woocommerce .woocommerce-MyAccount-content .woocommerce-Addresses::after {
  display: none;
}
.woocommerce-account .woocommerce .woocommerce-MyAccount-content .woocommerce-Addresses .woocommerce-Address {
  flex: 1;
  width: 100%;
  max-width: 100%;
}
@media screen and (max-width: 991px) {
  .woocommerce-account .woocommerce .woocommerce-MyAccount-content .woocommerce-Addresses {
    flex-direction: column;
  }
}
.woocommerce-account .woocommerce .woocommerce-MyAccount-content .woocommerce-Message {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}
.woocommerce-account .woocommerce .woocommerce-MyAccount-content .woocommerce-Message::before, .woocommerce-account .woocommerce .woocommerce-MyAccount-content .woocommerce-Message::after {
  display: none;
}

.woocommerce-cart .woocommerce, .woocommerce-checkout .woocommerce {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
  margin-top: 40px;
}
@media screen and (max-width: 991px) {
  .woocommerce-cart .woocommerce, .woocommerce-checkout .woocommerce {
    flex-direction: column;
  }
  .woocommerce-cart .woocommerce .woocommerce-cart-form, .woocommerce-cart .woocommerce .cart-collaterals, .woocommerce-checkout .woocommerce .woocommerce-cart-form, .woocommerce-checkout .woocommerce .cart-collaterals {
    width: 100%;
  }
}
.woocommerce-cart .woocommerce .woocommerce-order, .woocommerce-checkout .woocommerce .woocommerce-order {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 991px) {
  .woocommerce-cart .woocommerce .woocommerce-order, .woocommerce-checkout .woocommerce .woocommerce-order {
    flex-direction: column;
  }
  .woocommerce-cart .woocommerce .woocommerce-order .woocommerce-order-details, .woocommerce-checkout .woocommerce .woocommerce-order .woocommerce-order-details {
    width: 100%;
  }
  .woocommerce-cart .woocommerce .woocommerce-order .woocommerce-customer-details, .woocommerce-checkout .woocommerce .woocommerce-order .woocommerce-customer-details {
    width: 100%;
    padding: 0;
  }
}
@media screen and (min-width: 992px) {
  .woocommerce-cart .woocommerce .woocommerce-order .woocommerce-order-details, .woocommerce-cart .woocommerce .woocommerce-order .woocommerce-customer-details, .woocommerce-checkout .woocommerce .woocommerce-order .woocommerce-order-details, .woocommerce-checkout .woocommerce .woocommerce-order .woocommerce-customer-details {
    width: 50%;
  }
}
.woocommerce-cart .woocommerce .woocommerce-order .woocommerce-notice, .woocommerce-cart .woocommerce .woocommerce-order .woocommerce-order-overview, .woocommerce-cart .woocommerce .woocommerce-order > p, .woocommerce-checkout .woocommerce .woocommerce-order .woocommerce-notice, .woocommerce-checkout .woocommerce .woocommerce-order .woocommerce-order-overview, .woocommerce-checkout .woocommerce .woocommerce-order > p {
  width: 100%;
}
.woocommerce-cart .woocommerce .woocommerce-order .woocommerce-order-overview, .woocommerce-checkout .woocommerce .woocommerce-order .woocommerce-order-overview {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.woocommerce-cart .woocommerce .woocommerce-order > p, .woocommerce-checkout .woocommerce .woocommerce-order > p {
  text-align: right;
  font-weight: 300;
  font-size: 20px;
}
.woocommerce-cart .woocommerce .woocommerce-order .woocommerce-order-details, .woocommerce-checkout .woocommerce .woocommerce-order .woocommerce-order-details {
  text-align: right;
}
.woocommerce-cart .woocommerce .woocommerce-order .woocommerce-order-details__title, .woocommerce-checkout .woocommerce .woocommerce-order .woocommerce-order-details__title {
  font-size: 24px;
  font-weight: 700;
}
.woocommerce-cart .woocommerce .woocommerce-order .woocommerce-order-details .woocommerce-table .product-total, .woocommerce-checkout .woocommerce .woocommerce-order .woocommerce-order-details .woocommerce-table .product-total {
  text-align: left;
}
.woocommerce-cart .woocommerce .woocommerce-order .woocommerce-order-details .woocommerce-table tfoot td, .woocommerce-checkout .woocommerce .woocommerce-order .woocommerce-order-details .woocommerce-table tfoot td {
  text-align: left;
}
@media screen and (min-width: 992px) {
  .woocommerce-cart .woocommerce .woocommerce-order .woocommerce-customer-details, .woocommerce-checkout .woocommerce .woocommerce-order .woocommerce-customer-details {
    padding-right: 100px;
  }
}
.woocommerce-cart .woocommerce .woocommerce-order .woocommerce-customer-details .woocommerce-columns, .woocommerce-checkout .woocommerce .woocommerce-order .woocommerce-customer-details .woocommerce-columns {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 991px) {
  .woocommerce-cart .woocommerce .woocommerce-order .woocommerce-customer-details .woocommerce-columns, .woocommerce-checkout .woocommerce .woocommerce-order .woocommerce-customer-details .woocommerce-columns {
    flex-direction: row;
  }
  .woocommerce-cart .woocommerce .woocommerce-order .woocommerce-customer-details .woocommerce-columns .woocommerce-column, .woocommerce-checkout .woocommerce .woocommerce-order .woocommerce-customer-details .woocommerce-columns .woocommerce-column {
    flex: 1;
    width: 50%;
  }
}
.woocommerce-cart .woocommerce .woocommerce-order .woocommerce-customer-details .woocommerce-columns .woocommerce-column, .woocommerce-checkout .woocommerce .woocommerce-order .woocommerce-customer-details .woocommerce-columns .woocommerce-column {
  width: 100%;
  max-width: 100%;
  text-align: right;
}
.woocommerce-cart .woocommerce .woocommerce-order .woocommerce-customer-details .woocommerce-columns .woocommerce-column__title, .woocommerce-checkout .woocommerce .woocommerce-order .woocommerce-customer-details .woocommerce-columns .woocommerce-column__title {
  font-weight: 700;
  font-size: 24px;
}
.woocommerce-cart .woocommerce .woocommerce-order .woocommerce-customer-details .woocommerce-columns .woocommerce-column:nth-last-child(n+2), .woocommerce-checkout .woocommerce .woocommerce-order .woocommerce-customer-details .woocommerce-columns .woocommerce-column:nth-last-child(n+2) {
  margin-bottom: 30px;
}
.woocommerce-cart .woocommerce .woocommerce-order .woocommerce-customer-details .woocommerce-columns .woocommerce-column address, .woocommerce-checkout .woocommerce .woocommerce-order .woocommerce-customer-details .woocommerce-columns .woocommerce-column address {
  border: 0;
  font-weight: 300;
  font-size: 20px;
}
.woocommerce-cart .woocommerce .woocommerce-notice.woocommerce-notice--success, .woocommerce-checkout .woocommerce .woocommerce-notice.woocommerce-notice--success {
  text-align: right;
  padding: 10px;
  background-color: rgba(0, 128, 0, 0.09);
  color: green;
}
.woocommerce-cart .woocommerce .woocommerce-shipping-fields, .woocommerce-checkout .woocommerce .woocommerce-shipping-fields {
  text-align: right;
}
.woocommerce-cart .woocommerce .woocommerce-shipping-fields .woocommerce-form__label, .woocommerce-checkout .woocommerce .woocommerce-shipping-fields .woocommerce-form__label {
  font-size: 16px;
  font-weight: 500;
}
.woocommerce-cart .woocommerce .woocommerce-checkout, .woocommerce-checkout .woocommerce .woocommerce-checkout {
  display: flex;
}
@media screen and (max-width: 1199px) {
  .woocommerce-cart .woocommerce .woocommerce-checkout, .woocommerce-checkout .woocommerce .woocommerce-checkout {
    flex-direction: column;
  }
  .woocommerce-cart .woocommerce .woocommerce-checkout .customer_details_form, .woocommerce-checkout .woocommerce .woocommerce-checkout .customer_details_form {
    margin-bottom: 40px;
  }
  .woocommerce-cart .woocommerce .woocommerce-checkout .order-review-wrapper, .woocommerce-checkout .woocommerce .woocommerce-checkout .order-review-wrapper {
    margin: 0 15px;
  }
}
.woocommerce-cart .woocommerce .woocommerce-checkout .customer_details_form, .woocommerce-checkout .woocommerce .woocommerce-checkout .customer_details_form {
  display: flex;
  flex-direction: column;
}
.woocommerce-cart .woocommerce .woocommerce-checkout .customer_details_form .form-row, .woocommerce-checkout .woocommerce .woocommerce-checkout .customer_details_form .form-row {
  width: 100%;
}
.woocommerce-cart .woocommerce .woocommerce-checkout .customer_details_form .form-row label, .woocommerce-cart .woocommerce .woocommerce-checkout .customer_details_form .form-row span, .woocommerce-checkout .woocommerce .woocommerce-checkout .customer_details_form .form-row label, .woocommerce-checkout .woocommerce .woocommerce-checkout .customer_details_form .form-row span {
  width: 100%;
  font-size: 20px;
  font-weight: 300;
  text-align: right;
}
.woocommerce-cart .woocommerce .woocommerce-checkout .customer_details_form .form-row label input, .woocommerce-cart .woocommerce .woocommerce-checkout .customer_details_form .form-row label select, .woocommerce-cart .woocommerce .woocommerce-checkout .customer_details_form .form-row label .select2, .woocommerce-cart .woocommerce .woocommerce-checkout .customer_details_form .form-row span input, .woocommerce-cart .woocommerce .woocommerce-checkout .customer_details_form .form-row span select, .woocommerce-cart .woocommerce .woocommerce-checkout .customer_details_form .form-row span .select2, .woocommerce-checkout .woocommerce .woocommerce-checkout .customer_details_form .form-row label input, .woocommerce-checkout .woocommerce .woocommerce-checkout .customer_details_form .form-row label select, .woocommerce-checkout .woocommerce .woocommerce-checkout .customer_details_form .form-row label .select2, .woocommerce-checkout .woocommerce .woocommerce-checkout .customer_details_form .form-row span input, .woocommerce-checkout .woocommerce .woocommerce-checkout .customer_details_form .form-row span select, .woocommerce-checkout .woocommerce .woocommerce-checkout .customer_details_form .form-row span .select2 {
  border: 1px solid #000000;
  padding: 10px;
}
.woocommerce-cart .woocommerce .woocommerce-checkout .customer_details_form .form-row label input .select2-selection, .woocommerce-cart .woocommerce .woocommerce-checkout .customer_details_form .form-row label select .select2-selection, .woocommerce-cart .woocommerce .woocommerce-checkout .customer_details_form .form-row label .select2 .select2-selection, .woocommerce-cart .woocommerce .woocommerce-checkout .customer_details_form .form-row span input .select2-selection, .woocommerce-cart .woocommerce .woocommerce-checkout .customer_details_form .form-row span select .select2-selection, .woocommerce-cart .woocommerce .woocommerce-checkout .customer_details_form .form-row span .select2 .select2-selection, .woocommerce-checkout .woocommerce .woocommerce-checkout .customer_details_form .form-row label input .select2-selection, .woocommerce-checkout .woocommerce .woocommerce-checkout .customer_details_form .form-row label select .select2-selection, .woocommerce-checkout .woocommerce .woocommerce-checkout .customer_details_form .form-row label .select2 .select2-selection, .woocommerce-checkout .woocommerce .woocommerce-checkout .customer_details_form .form-row span input .select2-selection, .woocommerce-checkout .woocommerce .woocommerce-checkout .customer_details_form .form-row span select .select2-selection, .woocommerce-checkout .woocommerce .woocommerce-checkout .customer_details_form .form-row span .select2 .select2-selection {
  border: 0;
}
.woocommerce-cart .woocommerce .woocommerce-checkout .customer_details_form .form-row label, .woocommerce-checkout .woocommerce .woocommerce-checkout .customer_details_form .form-row label {
  margin-bottom: 0;
  position: relative !important;
  height: 40px;
}
.woocommerce-cart .woocommerce .woocommerce-checkout .customer_details_form .form-row label.screen-reader-text, .woocommerce-checkout .woocommerce .woocommerce-checkout .customer_details_form .form-row label.screen-reader-text {
  visibility: hidden;
}
.woocommerce-cart .woocommerce .woocommerce-checkout .customer_details_form .form-row label.screen-reader-text span, .woocommerce-checkout .woocommerce .woocommerce-checkout .customer_details_form .form-row label.screen-reader-text span {
  visibility: hidden;
}
.woocommerce-cart .woocommerce .woocommerce-checkout .customer_details_form .form-row.billing_first_name, .woocommerce-cart .woocommerce .woocommerce-checkout .customer_details_form .form-row.billing_last_name, .woocommerce-cart .woocommerce .woocommerce-checkout .customer_details_form .form-row.billing_address_1, .woocommerce-cart .woocommerce .woocommerce-checkout .customer_details_form .form-row.billing_address_2, .woocommerce-checkout .woocommerce .woocommerce-checkout .customer_details_form .form-row.billing_first_name, .woocommerce-checkout .woocommerce .woocommerce-checkout .customer_details_form .form-row.billing_last_name, .woocommerce-checkout .woocommerce .woocommerce-checkout .customer_details_form .form-row.billing_address_1, .woocommerce-checkout .woocommerce .woocommerce-checkout .customer_details_form .form-row.billing_address_2 {
  width: 50%;
}
.woocommerce-cart .woocommerce .woocommerce-checkout .customer_details_form .woocommerce-billing-fields, .woocommerce-checkout .woocommerce .woocommerce-checkout .customer_details_form .woocommerce-billing-fields {
  text-align: right;
}
.woocommerce-cart .woocommerce .woocommerce-checkout .customer_details_form .woocommerce-billing-fields > h3, .woocommerce-checkout .woocommerce .woocommerce-checkout .customer_details_form .woocommerce-billing-fields > h3 {
  color: #E0007A;
  font-size: 24px;
  font-weight: 700;
}
.woocommerce-cart .woocommerce .woocommerce-checkout .customer_details_form .woocommerce-billing-fields .woocommerce-billing-fields__field-wrapper .customform-row, .woocommerce-checkout .woocommerce .woocommerce-checkout .customer_details_form .woocommerce-billing-fields .woocommerce-billing-fields__field-wrapper .customform-row {
  display: flex;
  flex-wrap: wrap;
}
.woocommerce-cart .woocommerce .woocommerce-checkout-payment, .woocommerce-checkout .woocommerce .woocommerce-checkout-payment {
  background: transparent !important;
}
.woocommerce-cart .woocommerce .woocommerce-checkout-payment a, .woocommerce-checkout .woocommerce .woocommerce-checkout-payment a {
  color: #E0007A;
}
.woocommerce-cart .woocommerce .woocommerce-checkout-payment .payment_methods, .woocommerce-checkout .woocommerce .woocommerce-checkout-payment .payment_methods {
  padding: 0 !important;
}
.woocommerce-cart .woocommerce .woocommerce-checkout-payment .payment_methods .woocommerce-notice, .woocommerce-checkout .woocommerce .woocommerce-checkout-payment .payment_methods .woocommerce-notice {
  color: #E0007A;
  border: 0;
  background-color: transparent;
}
.woocommerce-cart .woocommerce .woocommerce-checkout-payment .payment_methods .woocommerce-notice::before, .woocommerce-checkout .woocommerce .woocommerce-checkout-payment .payment_methods .woocommerce-notice::before {
  color: inherit;
}
.woocommerce-cart .woocommerce .woocommerce-checkout-payment .place-order, .woocommerce-checkout .woocommerce .woocommerce-checkout-payment .place-order {
  text-align: right;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.woocommerce-cart .woocommerce .woocommerce-checkout-payment .place-order button, .woocommerce-checkout .woocommerce .woocommerce-checkout-payment .place-order button {
  background-color: #E0007A;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  width: 100%;
  padding: 10px;
  border: 0;
}
.woocommerce-cart .woocommerce .woocommerce-form-coupon-toggle, .woocommerce-checkout .woocommerce .woocommerce-form-coupon-toggle {
  width: 100%;
}
.woocommerce-cart .woocommerce .woocommerce-form-coupon-toggle .woocommerce-info, .woocommerce-checkout .woocommerce .woocommerce-form-coupon-toggle .woocommerce-info {
  background-color: #E0007A;
  color: #ffffff;
  margin-top: 20px;
  border: 0;
}
.woocommerce-cart .woocommerce .woocommerce-form-coupon-toggle .woocommerce-info::before, .woocommerce-checkout .woocommerce .woocommerce-form-coupon-toggle .woocommerce-info::before {
  color: #ffffff;
}
.woocommerce-cart .woocommerce .woocommerce-form-coupon-toggle .woocommerce-info a, .woocommerce-checkout .woocommerce .woocommerce-form-coupon-toggle .woocommerce-info a {
  color: inherit;
}
.woocommerce-cart .woocommerce .woocommerce-notices-wrapper, .woocommerce-checkout .woocommerce .woocommerce-notices-wrapper {
  width: 100%;
}
@media screen and (min-width: 992px) {
  .woocommerce-cart .woocommerce .woocommerce-cart-form, .woocommerce-checkout .woocommerce .woocommerce-cart-form {
    width: 65%;
  }
  .woocommerce-cart .woocommerce .cart-collaterals, .woocommerce-checkout .woocommerce .cart-collaterals {
    width: 35%;
  }
}
.woocommerce-cart .woocommerce .woocommerce-cart-form, .woocommerce-checkout .woocommerce .woocommerce-cart-form {
  padding-left: 30px;
  overflow-x: auto;
}
.woocommerce-cart .woocommerce .cart-collaterals, .woocommerce-cart .woocommerce .order-review-wrapper, .woocommerce-cart .woocommerce .woocommerce-customer-details .woocommerce-columns, .woocommerce-checkout .woocommerce .cart-collaterals, .woocommerce-checkout .woocommerce .order-review-wrapper, .woocommerce-checkout .woocommerce .woocommerce-customer-details .woocommerce-columns {
  background-color: #F6F6F6;
  padding: 19px 18px;
}
.woocommerce-cart .woocommerce .cart-collaterals #order_review_heading, .woocommerce-cart .woocommerce .order-review-wrapper #order_review_heading, .woocommerce-cart .woocommerce .woocommerce-customer-details .woocommerce-columns #order_review_heading, .woocommerce-checkout .woocommerce .cart-collaterals #order_review_heading, .woocommerce-checkout .woocommerce .order-review-wrapper #order_review_heading, .woocommerce-checkout .woocommerce .woocommerce-customer-details .woocommerce-columns #order_review_heading {
  text-align: right;
  color: #E0007A;
  font-size: 24px;
  font-weight: 700;
}
.woocommerce-cart .woocommerce .cart-collaterals .checkout_coupon, .woocommerce-cart .woocommerce .order-review-wrapper .checkout_coupon, .woocommerce-cart .woocommerce .woocommerce-customer-details .woocommerce-columns .checkout_coupon, .woocommerce-checkout .woocommerce .cart-collaterals .checkout_coupon, .woocommerce-checkout .woocommerce .order-review-wrapper .checkout_coupon, .woocommerce-checkout .woocommerce .woocommerce-customer-details .woocommerce-columns .checkout_coupon {
  padding: 0;
  border: 0;
  margin: 15px 0 !important;
}
.woocommerce-cart .woocommerce .cart-collaterals .checkout_coupon .coupon, .woocommerce-cart .woocommerce .order-review-wrapper .checkout_coupon .coupon, .woocommerce-cart .woocommerce .woocommerce-customer-details .woocommerce-columns .checkout_coupon .coupon, .woocommerce-checkout .woocommerce .cart-collaterals .checkout_coupon .coupon, .woocommerce-checkout .woocommerce .order-review-wrapper .checkout_coupon .coupon, .woocommerce-checkout .woocommerce .woocommerce-customer-details .woocommerce-columns .checkout_coupon .coupon {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.woocommerce-cart .woocommerce .cart-collaterals .checkout_coupon .coupon label, .woocommerce-cart .woocommerce .order-review-wrapper .checkout_coupon .coupon label, .woocommerce-cart .woocommerce .woocommerce-customer-details .woocommerce-columns .checkout_coupon .coupon label, .woocommerce-checkout .woocommerce .cart-collaterals .checkout_coupon .coupon label, .woocommerce-checkout .woocommerce .order-review-wrapper .checkout_coupon .coupon label, .woocommerce-checkout .woocommerce .woocommerce-customer-details .woocommerce-columns .checkout_coupon .coupon label {
  width: 100%;
}
.woocommerce-cart .woocommerce .cart-collaterals .checkout_coupon .coupon input, .woocommerce-cart .woocommerce .order-review-wrapper .checkout_coupon .coupon input, .woocommerce-cart .woocommerce .woocommerce-customer-details .woocommerce-columns .checkout_coupon .coupon input, .woocommerce-checkout .woocommerce .cart-collaterals .checkout_coupon .coupon input, .woocommerce-checkout .woocommerce .order-review-wrapper .checkout_coupon .coupon input, .woocommerce-checkout .woocommerce .woocommerce-customer-details .woocommerce-columns .checkout_coupon .coupon input {
  flex: 1;
  padding: 10px;
  background-color: #ffffff;
  border: 0;
}
.woocommerce-cart .woocommerce .cart-collaterals .checkout_coupon .coupon button, .woocommerce-cart .woocommerce .cart-collaterals .checkout_coupon .coupon input[type=submit], .woocommerce-cart .woocommerce .order-review-wrapper .checkout_coupon .coupon button, .woocommerce-cart .woocommerce .order-review-wrapper .checkout_coupon .coupon input[type=submit], .woocommerce-cart .woocommerce .woocommerce-customer-details .woocommerce-columns .checkout_coupon .coupon button, .woocommerce-cart .woocommerce .woocommerce-customer-details .woocommerce-columns .checkout_coupon .coupon input[type=submit], .woocommerce-checkout .woocommerce .cart-collaterals .checkout_coupon .coupon button, .woocommerce-checkout .woocommerce .cart-collaterals .checkout_coupon .coupon input[type=submit], .woocommerce-checkout .woocommerce .order-review-wrapper .checkout_coupon .coupon button, .woocommerce-checkout .woocommerce .order-review-wrapper .checkout_coupon .coupon input[type=submit], .woocommerce-checkout .woocommerce .woocommerce-customer-details .woocommerce-columns .checkout_coupon .coupon button, .woocommerce-checkout .woocommerce .woocommerce-customer-details .woocommerce-columns .checkout_coupon .coupon input[type=submit] {
  flex: initial;
  padding: 0 20px;
}
.woocommerce-cart .woocommerce .cart-collaterals .cross-sells, .woocommerce-cart .woocommerce .order-review-wrapper .cross-sells, .woocommerce-cart .woocommerce .woocommerce-customer-details .woocommerce-columns .cross-sells, .woocommerce-checkout .woocommerce .cart-collaterals .cross-sells, .woocommerce-checkout .woocommerce .order-review-wrapper .cross-sells, .woocommerce-checkout .woocommerce .woocommerce-customer-details .woocommerce-columns .cross-sells {
  display: none;
}
.woocommerce-cart .woocommerce .cart-collaterals .cart_totals, .woocommerce-cart .woocommerce .order-review-wrapper .cart_totals, .woocommerce-cart .woocommerce .woocommerce-customer-details .woocommerce-columns .cart_totals, .woocommerce-checkout .woocommerce .cart-collaterals .cart_totals, .woocommerce-checkout .woocommerce .order-review-wrapper .cart_totals, .woocommerce-checkout .woocommerce .woocommerce-customer-details .woocommerce-columns .cart_totals {
  width: 100%;
  text-align: right;
}
.woocommerce-cart .woocommerce .cart-collaterals .cart_totals > h2, .woocommerce-cart .woocommerce .order-review-wrapper .cart_totals > h2, .woocommerce-cart .woocommerce .woocommerce-customer-details .woocommerce-columns .cart_totals > h2, .woocommerce-checkout .woocommerce .cart-collaterals .cart_totals > h2, .woocommerce-checkout .woocommerce .order-review-wrapper .cart_totals > h2, .woocommerce-checkout .woocommerce .woocommerce-customer-details .woocommerce-columns .cart_totals > h2 {
  color: #E0007A;
  font-size: 24px;
  font-weight: 700;
}
.woocommerce-cart .woocommerce table.shop_table, .woocommerce-checkout .woocommerce table.shop_table {
  border: 0;
}
@media screen and (max-width: 991px) {
  .woocommerce-cart .woocommerce table.shop_table.shop_table_responsive .product-price, .woocommerce-cart .woocommerce table.shop_table.shop_table_responsive .product-subtotal, .woocommerce-checkout .woocommerce table.shop_table.shop_table_responsive .product-price, .woocommerce-checkout .woocommerce table.shop_table.shop_table_responsive .product-subtotal {
    display: none;
  }
  .woocommerce-cart .woocommerce table.shop_table.shop_table_responsive .woocommerce-cart-form__cart-item .product-price, .woocommerce-cart .woocommerce table.shop_table.shop_table_responsive .woocommerce-cart-form__cart-item .product-subtotal, .woocommerce-checkout .woocommerce table.shop_table.shop_table_responsive .woocommerce-cart-form__cart-item .product-price, .woocommerce-checkout .woocommerce table.shop_table.shop_table_responsive .woocommerce-cart-form__cart-item .product-subtotal {
    display: none;
  }
}
.woocommerce-cart .woocommerce table.shop_table .woocommerce-cart-form__cart-item .product-thumbnail a img, .woocommerce-checkout .woocommerce table.shop_table .woocommerce-cart-form__cart-item .product-thumbnail a img {
  min-width: 80px;
  max-width: 80px;
  border: 1px solid #D2D2D2;
}
.woocommerce-cart .woocommerce table.shop_table th, .woocommerce-cart .woocommerce table.shop_table td, .woocommerce-checkout .woocommerce table.shop_table th, .woocommerce-checkout .woocommerce table.shop_table td {
  font-size: 20px;
  font-weight: 700;
  color: #000000;
}
.woocommerce-cart .woocommerce table.shop_table th span, .woocommerce-cart .woocommerce table.shop_table td span, .woocommerce-checkout .woocommerce table.shop_table th span, .woocommerce-checkout .woocommerce table.shop_table td span {
  font-size: inherit !important;
}
.woocommerce-cart .woocommerce table.shop_table th.product-name, .woocommerce-cart .woocommerce table.shop_table td.product-name, .woocommerce-checkout .woocommerce table.shop_table th.product-name, .woocommerce-checkout .woocommerce table.shop_table td.product-name {
  font-weight: 300;
}
.woocommerce-cart .woocommerce table.shop_table th.actions, .woocommerce-cart .woocommerce table.shop_table td.actions, .woocommerce-checkout .woocommerce table.shop_table th.actions, .woocommerce-checkout .woocommerce table.shop_table td.actions {
  padding: 10px 0;
}
.woocommerce-cart .woocommerce table.shop_table th.actions > button[type=submit], .woocommerce-cart .woocommerce table.shop_table td.actions > button[type=submit], .woocommerce-checkout .woocommerce table.shop_table th.actions > button[type=submit], .woocommerce-checkout .woocommerce table.shop_table td.actions > button[type=submit] {
  margin-top: 15px;
  float: right;
}
.woocommerce-cart .woocommerce table.shop_table a, .woocommerce-checkout .woocommerce table.shop_table a {
  color: inherit;
}
.woocommerce-cart .woocommerce .checkout-button, .woocommerce-checkout .woocommerce .checkout-button {
  background-color: #e0007a !important;
  font-size: 24px !important;
  font-weight: 700;
  padding: 12px !important;
}

.bottombanner {
  background-color: #000000;
  height: 245px;
  display: flex;
  align-items: center;
}
.bottombanner .bannervideo {
  z-index: 1;
}

.informationSection {
  background-color: rgba(224, 0, 122, 0.18);
  padding: 50px 0;
}
.informationSection__title {
  font-size: 42px;
  font-weight: 800;
  color: #000000;
  text-align: center;
  margin: 0 0 50px 0;
}
.informationSection__title span {
  color: #E0007A;
}
.informationSection__steppers {
  max-width: 70%;
  margin: 0 auto;
}
.informationSection__steppers .card {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.13);
  border-radius: 0;
  border: 0;
}
.informationSection__steppers .card .card-body {
  padding: 40px 113px;
}
.informationSection__steppers .card .card-body .buttonsgroup {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.informationSection__steppers .card .card-body .buttonsgroup button {
  flex-basis: 49%;
  outline: none;
  box-shadow: none;
}
.informationSection__steppers .card .card-body .buttonsgroup button:nth-last-child(n+2) {
  margin-left: 2%;
}
.informationSection__steppers .card .card-body .buttonsgroup button.outline {
  background-color: transparent !important;
  border: 2px solid #000000 !important;
  color: #000000 !important;
}
.informationSection__steppers .card .card-body .buttonsgroup button.outline:hover {
  background-color: #000000 !important;
  color: #ffffff !important;
}
.informationSection__steppers .card .card-header {
  display: flex;
  justify-content: space-between;
  /* Make circles that indicate the steps of the form: */
}
.informationSection__steppers .card .card-header .steps_status {
  margin: 0;
  line-height: 1;
}
.informationSection__steppers .card .card-header .step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}
.informationSection__steppers .card .card-header .step.active {
  opacity: 1;
  background-color: #E0007A;
}
.informationSection__steppers__start__btn {
  width: 360px;
  margin: 30px auto 0 auto;
  padding: 12px;
  font-size: 20px;
  font-weight: 500;
}

.customselect, .custom-select {
  appearance: auto;
}
.customselect .btn, .custom-select .btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#stppersBox {
  background-color: #ffffff;
  margin: 0 auto;
  text-align: right;
  /* Hide all steps by default: */
}
#stppersBox .stepTab {
  display: none;
}
#stppersBox .stepTab .articleimg {
  max-width: 75%;
  display: block;
  margin: 0 auto 15px auto;
}
#stppersBox .stepTab .subtitle {
  font-size: 18px;
  font-weight: 700;
  color: #111111;
  margin-bottom: 15px;
}
#stppersBox .stepTab .form-group {
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 400;
}
#stppersBox .stepTab .checkbox-wrapper {
  margin-bottom: 15px;
  cursor: pointer;
}
#stppersBox .stepTab .checkbox-wrapper input:checked + span {
  background-color: #E0007A;
}
#stppersBox .stepTab .checkbox-wrapper input:checked + span::before {
  display: none;
}
#stppersBox .stepTab .checkbox-wrapper label {
  font-size: 14px;
}
#stppersBox .stepTab .boldlabel {
  font-weight: 700;
  font-size: 18px;
  color: #111111;
}
#stppersBox .stepTab__title {
  font-size: 24px;
  font-weight: 700;
  color: #000000;
  margin-bottom: 25px;
  line-height: 1;
  text-align: center;
}
#stppersBox .stepTab input, #stppersBox .stepTab select {
  color: #000000;
  font-size: 18px;
  font-weight: 400;
}
#stppersBox button {
  background-color: #E0007A;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  font-family: Raleway;
  cursor: pointer;
}
#stppersBox button:hover {
  opacity: 0.8;
}
#stppersBox #prevBtn {
  background-color: #bbbbbb;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.radiogroup {
  display: inline-flex;
}
.radiogroup .form-check-label {
  position: relative;
  padding-right: 20px;
  cursor: pointer;
}
.radiogroup .form-check-label .form-check-input {
  position: absolute;
  margin: 0;
  width: 15px;
  height: 15px;
  right: 0;
  top: 5px;
  opacity: 0;
}
.radiogroup .form-check-label .form-check-input:checked + span::after {
  content: "";
  width: 9px;
  height: 9px;
  border-radius: 100%;
  background-color: #E0007A;
  display: inline-block;
  position: absolute;
  top: 2px;
  left: 2px;
}
.radiogroup .form-check-label span {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  border: 1px solid #000000;
  display: inline-block;
  position: relative;
  right: 0;
  top: 5px;
}

/*# sourceMappingURL=style.css.map */
