.sz-navbar {
  width: 100%;
  height: 64px;
  /* OVERRIDE WITH YOUR OWN HEIGHT */
  background-color: #fff;
  /* OVERRIDE WITH YOUR OWN BG COLOR */
  position: relative;
  top: 0;
  left: 0;
  z-index: 5;
}

.sz-navbar-inner {
  width: 100%;
  height: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.sz-navbar-items {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#sz-navbar-check {
  display: none;
}

@media (min-width: 992px) {
  /* .sz-navbar-inner {
    max-width: 1200px;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  } */
  .sz-navbar-hamburger {
    display: none;
  }
  .sz-navbar-right .sz-navbar-items {
    width: 100%;
    justify-content: space-between;
  }
  .sz-navbar-right .sz-navbar-items .sz-navbar-item {
    flex: 1;
    text-align: center;
    line-height: 1;
  }
  /* .sz-navbar-right .sz-navbar-items .sz-navbar-item:first-child {
    text-align: right;
  }
  .sz-navbar-right .sz-navbar-items .sz-navbar-item:last-child {
    text-align: left;
  } */
  .sz-navbar-right .sz-navbar-items .sz-navbar-item:nth-last-child(n+2) {
    border-left: 2px solid #000000;
  }
}

@media (max-width: 991px) {
  .sz-navbar-inner {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
            position: relative;
  }
  .sz-navbar-inner.active::after {
    left: 0;
    transition: 0.3s;
  }
  .sz-navbar-inner.active .sz-navbar-items {
    margin-right: 0;
  }
  .sz-navbar-inner::after {
    content: '';
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%;
    transition: 0.3s;
  }
  .sz-navbar-items .sz-navbar-item {
    display: block;
    width: 100%;
    text-align: right;
  }
  .sz-navbar-items .sz-navbar-item a {
    padding: 10px;
    display: block;
  }
  .sz-navbar-items {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 320px;
    background-color: #eee;
    /* OVERRIDE WITH YOUR OWN MENU BG COLOR */
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            /* justify-content: center; */
            align-items: baseline;
            z-index: 1;
            padding: 10px 0;
            overflow-y: auto;
  }
  .sz-navbar-hamburger {
    position: absolute;
    z-index: 6;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .sz-navbar-left .sz-navbar-items {
    left: 0;
    margin-left: -100%;
    -webkit-transition: margin-left 0.2s ease;
    transition: margin-left 0.2s ease;
  }
  .sz-navbar-left #sz-navbar-check:checked ~ .sz-navbar-items {
    margin-left: 0;
  }
  .sz-navbar-left .sz-navbar-hamburger {
    left: 24px;
    /* OVERRIDE WITH YOUR OWN HAMBURGER BUTTON MARGIN */
  }
  .sz-navbar-right .sz-navbar-items {
    right: 0;
    margin-right: -100%;
    -webkit-transition: margin-right 0.2s ease;
    transition: margin-right 0.2s ease;
  }
  /* .sz-navbar-right #sz-navbar-check:checked ~ .sz-navbar-items {
    margin-right: 0;
  } */
  .sz-navbar-right .sz-navbar-hamburger {
    right: 24px;
    /* OVERRIDE WITH YOUR OWN HAMBURGER BUTTON MARGIN */
  }
  /* div.sz-navbar-item:not(:last-of-type) {
    margin-bottom: 20px;
  } */
}
